force-app/main/default/flows/Account_update_region_field_from_country_metadata.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_billing_country_for_CS_RT</name>
        <label>Assign billing country for CS RT</label>
        <locationX>578</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>countryName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_for_country_variable_assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Billing_country_for_customer_or_internal_RT</name>
        <label>Assign Billing country for customer or internal RT</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>countryName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_for_country_variable_assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_shipping_country_for_CS_RT</name>
        <label>Assign shipping country for CS RT</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>countryName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_for_country_variable_assignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_country_region_mapping_in_custom_metadata</name>
        <label>Check for country-region mapping in custom metadata</label>
        <locationX>380</locationX>
        <locationY>1463</locationY>
        <defaultConnectorLabel>metadata not found</defaultConnectorLabel>
        <rules>
            <name>metadata_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_country_region_mapping_from_custom_metadata.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_region_field_on_Account</targetReference>
            </connector>
            <label>metadata found</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_for_country_variable_assignment</name>
        <label>check for country variable assignment value</label>
        <locationX>578</locationX>
        <locationY>1223</locationY>
        <defaultConnectorLabel>country name not found</defaultConnectorLabel>
        <rules>
            <name>has_country_name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countryName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_country_region_mapping_from_custom_metadata</targetReference>
            </connector>
            <label>has country name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_record_type</name>
        <label>Check for record type</label>
        <locationX>578</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_or_Internal_record_type</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Billing_country_for_customer_or_internal_RT</targetReference>
            </connector>
            <label>Customer or Internal record type</label>
        </rules>
        <rules>
            <name>Customer_site_record_type</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerSite</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ShippingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_for_shipping_country</targetReference>
            </connector>
            <label>Customer site record type</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_for_shipping_country</name>
        <label>check for shipping country</label>
        <locationX>578</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_shipping_country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ShippingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_shipping_country_for_CS_RT</targetReference>
            </connector>
            <label>has shipping country</label>
        </rules>
        <rules>
            <name>has_billing_country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_billing_country_for_CS_RT</targetReference>
            </connector>
            <label>has billing country</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_record_is_created_or_updated</name>
        <label>Check record is created or updated</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default outcome</defaultConnectorLabel>
        <rules>
            <name>Record_is_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_record_type</targetReference>
            </connector>
            <label>Record is created</label>
        </rules>
        <rules>
            <name>Record_is_updated</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ShippingCountry</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_record_type</targetReference>
            </connector>
            <label>Record is updated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - update region field from country metadata</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_country_region_mapping_from_custom_metadata</name>
        <label>get country region mapping from custom metadata</label>
        <locationX>380</locationX>
        <locationY>1343</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_country_region_mapping_in_custom_metadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>countryName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Country_to_Region_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_region_field_on_Account</name>
        <label>Update region field on Account</label>
        <locationX>248</locationX>
        <locationY>1583</locationY>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>get_country_region_mapping_from_custom_metadata.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_record_is_created_or_updated</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>BillingCountry</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ShippingCountry</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>countryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
