force-app/main/default/flows/Account_Update_Payment_Term.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_Flow_Is_Active</name>
        <label>Check Flow Is Active</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Setting_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Setting_Record.Is_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_Requested_payment_term</targetReference>
            </connector>
            <label>Is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Requested_payment_term</name>
        <label>check Requested payment term</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_request_payment_term</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requested_Payment_Term__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Upon receipt</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requested_Payment_Term__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Net 15</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requested_Payment_Term__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Net 30</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Payment_Term</targetReference>
            </connector>
            <label>check request payment term</label>
        </rules>
    </decisions>
    <description>Added Trigger Setting Check</description>
    <environments>Default</environments>
    <interviewLabel>Account - Update Payment Term {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Update Payment Term</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Trigger_Setting_Record</name>
        <label>Get Trigger Setting Record</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Flow_Is_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account_Update_Payment_Term</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Trigger_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Payment_Term</name>
        <label>update Payment Term</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Payment_Terms__c</field>
            <value>
                <elementReference>$Record.Requested_Payment_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Payment_Term__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Trigger_Setting_Record</targetReference>
        </connector>
        <filterFormula>AND(ISCHANGED({!$Record.Requested_Payment_Term__c}),NOT(ISBLANK(TEXT({!$Record.Requested_Payment_Term__c}))))</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
