force-app/main/default/flows/AddOpportunityContactRole.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>addACRContactID</name>
        <label>addACRContactID</label>
        <locationX>524</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>ACRContactIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopACR.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopACR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addBillinginOCRList</name>
        <label>addBillinginOCRList</label>
        <locationX>314</locationX>
        <locationY>3779</locationY>
        <assignmentItems>
            <assignToReference>NewOCRList</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>OCRObject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOCRList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OCRObject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addNewOCRtoList</name>
        <label>addNewOCRtoList</label>
        <locationX>842</locationX>
        <locationY>3371</locationY>
        <assignmentItems>
            <assignToReference>NewOCRList</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>OCRObject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOCRList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OCRObject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addOCRObjtoList</name>
        <label>addOCRObjtoList</label>
        <locationX>416</locationX>
        <locationY>2687</locationY>
        <assignmentItems>
            <assignToReference>NewOCRList</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>OCRObject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOCRList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OCRObject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateOCRfromPrimary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddOCRObjToOCRList</name>
        <label>AddOCRObjToOCRList</label>
        <locationX>416</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>NewOCRList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OCRObject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateOCRfromOther</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addOtherContacts</name>
        <label>addOtherContacts</label>
        <locationX>1052</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>OtherContactIds</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>LoopPCRList.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OtherContactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopPCRList.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopPCRList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddPrimarycontacts</name>
        <label>AddPrimarycontacts</label>
        <locationX>788</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>PrimaryContactIds</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>LoopPCRList.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryContactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopPCRList.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignSinglePrimarycontact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignBillingContact</name>
        <label>AssignBillingContact</label>
        <locationX>524</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>BillingContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPCRList.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopPCRList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSinglePrimarycontact</name>
        <label>assignSinglePrimarycontact</label>
        <locationX>788</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>SinglePrimaryContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPCRList.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopPCRList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>emptyOCRObj</name>
        <label>emptyOCRObj</label>
        <locationX>416</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>OCRObject.ContactId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCRObject.OpportunityId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCRObject.Role</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>SetOCRObj</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>emptyOCRObjforBilling</name>
        <label>emptyOCRObj</label>
        <locationX>314</locationX>
        <locationY>3563</locationY>
        <assignmentItems>
            <assignToReference>OCRObject.ContactId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCRObject.OpportunityId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCRObject.Role</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>setBillingOBj</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EmptyOCRObjforNew</name>
        <label>EmptyOCRObj</label>
        <locationX>842</locationX>
        <locationY>3155</locationY>
        <assignmentItems>
            <assignToReference>OCRObject.ContactId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCRObject.OpportunityId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCRObject.Role</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>setOCRObjforNew</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EmptyOCRObjforPrimary</name>
        <label>EmptyOCRObj</label>
        <locationX>416</locationX>
        <locationY>2471</locationY>
        <assignmentItems>
            <assignToReference>OCRObject.ContactId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCRObject.OpportunityId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>SetOCRObjforPrimary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setBillingContactonOpp</name>
        <label>setBillingContactonOpp</label>
        <locationX>314</locationX>
        <locationY>3455</locationY>
        <assignmentItems>
            <assignToReference>$Record.Billing_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBillingContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>emptyOCRObjforBilling</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setBillingOBj</name>
        <label>setBillingOBj</label>
        <locationX>314</locationX>
        <locationY>3671</locationY>
        <assignmentItems>
            <assignToReference>OCRObject.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBillingContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCRObject.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCRObject.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bill To Contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCRObject.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addBillinginOCRList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setnewBilling</name>
        <label>setnewBilling</label>
        <locationX>50</locationX>
        <locationY>3263</locationY>
        <assignmentItems>
            <assignToReference>NewBillingContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setBillingContactonOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNewBillingPrimary</name>
        <label>setNewBillingPrimary</label>
        <locationX>314</locationX>
        <locationY>3263</locationY>
        <assignmentItems>
            <assignToReference>NewBillingContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SinglePrimaryContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setBillingContactonOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetOCRObj</name>
        <label>SetOCRObj</label>
        <locationX>416</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>OCRObject.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateOCRfromOther</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCRObject.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddOCRObjToOCRList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setOCRObjforNew</name>
        <label>setOCRObjforNew</label>
        <locationX>842</locationX>
        <locationY>3263</locationY>
        <assignmentItems>
            <assignToReference>OCRObject.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Billing_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCRObject.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCRObject.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bill To Contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCRObject.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addNewOCRtoList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetOCRObjforPrimary</name>
        <label>SetOCRObj</label>
        <locationX>416</locationX>
        <locationY>2579</locationY>
        <assignmentItems>
            <assignToReference>OCRObject.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateOCRfromPrimary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCRObject.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addOCRObjtoList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ACRfound</name>
        <label>ACRfound</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>checkOppBillingcontact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_s_ACRS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopACR</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>BillingOrPrimary</name>
        <label>BillingOrPrimary</label>
        <locationX>314</locationX>
        <locationY>3155</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>updateOpp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BillingPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BillingContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>null</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setnewBilling</targetReference>
            </connector>
            <label>BillingPresent</label>
        </rules>
        <rules>
            <name>PrimaryPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SinglePrimaryContact</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>null</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setNewBillingPrimary</targetReference>
            </connector>
            <label>PrimaryPresent</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Role</name>
        <label>check Role</label>
        <locationX>788</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>addOtherContacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Billing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopPCRList.Program_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Billing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignBillingContact</targetReference>
            </connector>
            <label>Billing</label>
        </rules>
        <rules>
            <name>Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopPCRList.Program_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddPrimarycontacts</targetReference>
            </connector>
            <label>Primary</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkOppBillingcontact</name>
        <label>checkOppBillingcontact</label>
        <locationX>578</locationX>
        <locationY>3047</locationY>
        <defaultConnector>
            <targetReference>EmptyOCRObjforNew</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Present</defaultConnectorLabel>
        <rules>
            <name>blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BillingOrPrimary</targetReference>
            </connector>
            <label>blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkOtherContactNull</name>
        <label>checkOtherContactNull</label>
        <locationX>436</locationX>
        <locationY>1547</locationY>
        <defaultConnector>
            <targetReference>CheckPrimarynull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>null</defaultConnectorLabel>
        <rules>
            <name>not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OtherContactIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateOCRfromOther</targetReference>
            </connector>
            <label>not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckPrimarynull</name>
        <label>CheckPrimarynull</label>
        <locationX>436</locationX>
        <locationY>2255</locationY>
        <defaultConnector>
            <targetReference>checkOppBillingcontact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>primary null</defaultConnectorLabel>
        <rules>
            <name>Primary_NOT_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryContactIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateOCRfromPrimary</targetReference>
            </connector>
            <label>Primary NOT Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AddOpportunityContactRole {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AddOpportunityContactRole</label>
    <loops>
        <name>CreateOCRfromOther</name>
        <label>CreateOCRfromOther</label>
        <locationX>328</locationX>
        <locationY>1655</locationY>
        <collectionReference>OtherContactIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>emptyOCRObj</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CheckPrimarynull</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>CreateOCRfromPrimary</name>
        <label>CreateOCRfromPrimary</label>
        <locationX>328</locationX>
        <locationY>2363</locationY>
        <collectionReference>PrimaryContactIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>EmptyOCRObjforPrimary</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>checkOppBillingcontact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopACR</name>
        <label>loopACR</label>
        <locationX>436</locationX>
        <locationY>539</locationY>
        <collectionReference>Account_s_ACRS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addACRContactID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>PCRList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopPCRList</name>
        <label>LoopPCRList</label>
        <locationX>436</locationX>
        <locationY>947</locationY>
        <collectionReference>PCRList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_Role</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>checkOtherContactNull</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_OCR</name>
        <label>Create OCR</label>
        <locationX>578</locationX>
        <locationY>4079</locationY>
        <inputReference>NewOCRList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Account_s_ACRS</name>
        <label>Account&apos;s ACRS</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ACRfound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PCRList</name>
        <label>PCRList</label>
        <locationX>436</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopPCRList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ACRContactIDs</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Programc__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Program_Contact_Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateOpp</name>
        <label>updateOpp</label>
        <locationX>578</locationX>
        <locationY>3971</locationY>
        <connector>
            <targetReference>Create_OCR</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_s_ACRS</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ACRContactIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BillingContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>null</stringValue>
        </value>
    </variables>
    <variables>
        <name>NewBillingContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>null</stringValue>
        </value>
    </variables>
    <variables>
        <name>NewOCRList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>OCRObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>OtherContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SinglePrimaryContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>null</stringValue>
        </value>
    </variables>
</Flow>
