force-app/main/default/flows/Apply_Credit_Memo_to_Invoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Master_Decision</name>
        <label>Master Decision</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Not_Accounting_Profile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Accounting Profile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedById</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Web_Integrator</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Payment</targetReference>
            </connector>
            <label>Is Not Accounting Profile ?</label>
        </rules>
    </decisions>
    <description>When CM is approved update the Invoice Amount. Added this automation ignore by web integrator</description>
    <environments>Default</environments>
    <formulas>
        <name>PaymentName</name>
        <dataType>String</dataType>
        <expression>&quot;Payment for &quot;+ {!$Record.fw1__Generated_From__r.Name}</expression>
    </formulas>
    <formulas>
        <name>TotalPaidAmount</name>
        <dataType>Number</dataType>
        <expression>{!$Record.fw1__Generated_From__r.fw1__Total_Paid_Amount__c}+{!$Record.fw1__Total_Credit_Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Applay {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Apply Credit Memo to Invoice</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Payment</name>
        <label>Create Payment</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Create_Payment_Activity</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PaymentName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__API_Payment__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Account__c</field>
            <value>
                <elementReference>$Record.fw1__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Amount__c</field>
            <value>
                <elementReference>$Record.fw1__Total_Credit_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Attach_Terms_And_Conditions__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Auto_BillPay__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Contact__c</field>
            <value>
                <elementReference>$Record.fw1__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Create_Token__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Credit_Memo__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Do_Not_Clear_Retry_Info__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Do_Not_Send_Receipt__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Downloaded_From_Processor__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Email_Currency_Symbol__c</field>
            <value>
                <stringValue>$</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Entity__c</field>
            <value>
                <elementReference>$Record.fw1__Entity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Invoice__c</field>
            <value>
                <elementReference>$Record.fw1__Generated_From__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Is_Business_Checking__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Is_Card_Present__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Is_Pending_Settlement__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Opportunity__c</field>
            <value>
                <elementReference>$Record.fw1__Generated_From__r.fw2__Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__PaymentSource__c</field>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Payment_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Payment_Method__c</field>
            <value>
                <stringValue>Credit Memo</stringValue>
            </value>
        </inputAssignments>
        <object>fw1__Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Payment_Activity</name>
        <label>Create Payment Activity</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Update_Invoice</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Invoice Payment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Amount__c</field>
            <value>
                <elementReference>$Record.fw1__Total_Credit_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Applied_To_Invoice__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Invoice__c</field>
            <value>
                <elementReference>$Record.fw1__Generated_From__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Payment__c</field>
            <value>
                <elementReference>Create_Payment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Remaining_Amount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Transaction_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>fw1__Payment_Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Invoice</name>
        <label>Update Invoice</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Update_Total_Used_Amount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fw1__Generated_From__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>fw1__Total_Paid_Amount__c</field>
            <value>
                <elementReference>TotalPaidAmount</elementReference>
            </value>
        </inputAssignments>
        <object>fw1__Invoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Total_Used_Amount</name>
        <label>Update Total Used Amount</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>fw1__Total_Allocated_Amount__c</field>
            <value>
                <elementReference>$Record.fw1__Total_Credit_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Master_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approval_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>fw1__Generated_From__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>fw1__Credit_Memo__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
