force-app/main/default/flows/Attribute_Assignment_Update_Contact_Id.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_User_Or_Contact</name>
        <label>Check User Or Contact</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.inspire1__User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.inspire1__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_With_User_Id</targetReference>
            </connector>
            <label>Is User?</label>
        </rules>
        <rules>
            <name>Is_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.inspire1__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.inspire1__User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Id</targetReference>
            </connector>
            <label>Is Contact?</label>
        </rules>
    </decisions>
    <description>[21-12-2022 : Update contact id ]
[09-01-23 : Updated to check if user or contact to update on Contact Id]
added program formula</description>
    <environments>Default</environments>
    <formulas>
        <name>varContactId</name>
        <dataType>String</dataType>
        <expression>{!$Record.inspire1__Contact__c}+&apos;:&apos;+{!$Record.Program__c}</expression>
    </formulas>
    <formulas>
        <name>varUserId</name>
        <dataType>String</dataType>
        <expression>{!$Record.inspire1__User__c}+&apos;:&apos;+{!$Record.Program__c}</expression>
    </formulas>
    <interviewLabel>Attribute Assignment - Update Contact Id {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Attribute Assignment - Update Contact Id</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Contact_Id</name>
        <label>Update Contact Id</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Contact_Id__c</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_With_User_Id</name>
        <label>Update Contact With User Id</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Contact_Id__c</field>
            <value>
                <elementReference>varUserId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_User_Or_Contact</targetReference>
        </connector>
        <object>inspire1__Attribute_Assignment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
