force-app/main/default/flows/Calculate_SCS_Week.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Flow_Is_Active</name>
        <label>Flow Is Active</label>
        <locationX>673</locationX>
        <locationY>160</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Setting</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Setting.Is_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_close_lost_date</targetReference>
            </connector>
            <label>is Active</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Week</name>
        <dataType>Number</dataType>
        <expression>CASE(
MOD(Datevalue({!$Record.Closed_Date_Time__c}) - DATE(1900, 1, 7), 7),
5, (IF(
AND(
VALUE( MID( TEXT( {!$Record.Closed_Date_Time__c-(7/24)}), 12, 2 ) )&gt;=17,
VALUE( MID( TEXT( {!$Record.Closed_Date_Time__c-(7/24)}), 15, 2 ) )&gt;=1,
VALUE( MID( TEXT( {!$Record.Closed_Date_Time__c-(7/24)}), 18, 2 ) )&gt;0
),
{!$Record.SFWeek__c}+1,
{!$Record.SFWeek__c}
)),
6, {!$Record.SFWeek__c} + 1,
0, {!$Record.SFWeek__c} ,
{!$Record.SFWeek__c}
)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Calculate SCS Week {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate SCS Week</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Trigger_Setting</name>
        <label>Get Trigger Setting</label>
        <locationX>547</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Flow_Is_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opp_update_closed_lost_date_on_stage</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Trigger_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_close_lost_date</name>
        <label>update close lost date</label>
        <locationX>913</locationX>
        <locationY>160</locationY>
        <inputAssignments>
            <field>SCSWeek__c</field>
            <value>
                <elementReference>Week</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>98</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Get_Trigger_Setting</targetReference>
        </connector>
        <filterFormula>OR(
	AND(
		ISNEW(),
		NOT(ISBLANK({!$Record.Closed_Date_Time__c}))
	),
	ISCHANGED({!$Record.Closed_Date_Time__c})
)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
