force-app/main/default/flows/Cloning_Scope_and_T_C.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Scope_values_to_single_variable</name>
        <label>Assign Scope values to single variable</label>
        <locationX>138</locationX>
        <locationY>2303</locationY>
        <assignmentItems>
            <assignToReference>SingleScopeRecord.Engagement_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Scope.Engagement_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleScopeRecord.Entity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Scope.Entity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleScopeRecord.Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Scope.Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleScopeRecord.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Scope.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleScopeRecord.Language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Scope.Language__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleScopeRecord.Engagement_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Scope.Engagement_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleScopeRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleScopeRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityRecordTypeonScope</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigning_Scope_records_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Scope_values_to_single_variable_0</name>
        <label>Assign Scope values to single variable</label>
        <locationX>1370</locationX>
        <locationY>2303</locationY>
        <assignmentItems>
            <assignToReference>SingleScopeRecord.Engagement_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Scope_0.Engagement_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleScopeRecord.Entity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Scope_0.Entity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleScopeRecord.Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Scope_0.Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleScopeRecord.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Scope_0.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleScopeRecord.Language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Scope_0.Language__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleScopeRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleScopeRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityRecordTypeonScope</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigning_Scope_records_to_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_T_C_Record</name>
        <label>Assign Single T&amp;C Record</label>
        <locationX>754</locationX>
        <locationY>2303</locationY>
        <assignmentItems>
            <assignToReference>SingleTandCRecord.Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_T_C.Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTandCRecord.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_T_C.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTandCRecord.Engagement_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_T_C.Engagement_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTandCRecord.Language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_T_C.Language__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTandCRecord.Entity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_T_C.Entity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTandCRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTandCRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityRecordTypeonTandC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigning_Signle_T_C_Record_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_T_C_Record_0_0</name>
        <label>Assign Single T&amp;C Record</label>
        <locationX>138</locationX>
        <locationY>3011</locationY>
        <assignmentItems>
            <assignToReference>SingleTandCRecord.Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_T_C_0.Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTandCRecord.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_T_C_0.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTandCRecord.Engagement_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_T_C_0.Engagement_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTandCRecord.Language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_T_C_0.Language__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTandCRecord.Entity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_T_C_0.Entity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTandCRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTandCRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityRecordTypeonTandC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigning_Signle_T_C_Record_to_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Scope_records_to_Collection</name>
        <label>Assigning Scope records to Collection</label>
        <locationX>138</locationX>
        <locationY>2411</locationY>
        <assignmentItems>
            <assignToReference>ListofScope</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleScopeRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Scope</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Scope_records_to_Collection_0</name>
        <label>Assigning Scope records to Collection</label>
        <locationX>1370</locationX>
        <locationY>2411</locationY>
        <assignmentItems>
            <assignToReference>ListofScope</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleScopeRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Scope_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Signle_T_C_Record_to_Collection</name>
        <label>Assigning Signle T&amp;C Record to Collection</label>
        <locationX>754</locationX>
        <locationY>2411</locationY>
        <assignmentItems>
            <assignToReference>ListofTandCRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleTandCRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_T_C</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Signle_T_C_Record_to_Collection_0</name>
        <label>Assigning Signle T&amp;C Record to Collection</label>
        <locationX>138</locationX>
        <locationY>3119</locationY>
        <assignmentItems>
            <assignToReference>ListofTandCRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleTandCRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_T_C_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Engagement_type_and_Language</name>
        <label>Check Engagement type and Language</label>
        <locationX>270</locationX>
        <locationY>2195</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Scope</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Scope_Fields</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Scope.Engagement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Engagement_Type__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_Scope.Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Language__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Scope_values_to_single_variable</targetReference>
            </connector>
            <label>Check Scope Fields</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Engagement_type_and_Language_0</name>
        <label>Check Engagement type and Language</label>
        <locationX>1502</locationX>
        <locationY>2195</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Scope_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Scope_Fields_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Scope_0.Engagement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Engagement_Type__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_Scope_0.Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Language__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Scope_values_to_single_variable_0</targetReference>
            </connector>
            <label>Check Scope Fields</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Existing_Scopes</name>
        <label>Check Existing Scopes</label>
        <locationX>644</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Check_Existing_T_and_Cs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_existing_scope</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_all_existing_scopes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Existing_Scopes</targetReference>
            </connector>
            <label>Check existing scope</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Existing_T_and_Cs</name>
        <label>Check Existing T and Cs</label>
        <locationX>644</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunity_RecordType_from_Scope</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Existing_T_and_C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_all_existing_T_and_C</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Existing_T_and_Cs</targetReference>
            </connector>
            <label>Check Existing T and C</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_the_program_Engagementtype_or_language_is_changed</name>
        <label>Check if the program, Engagementtype or language is changed</label>
        <locationX>798</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunity_RecordType_from_Scope</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_anyone_of_them_is_changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Programc__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Engagement_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Language__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_existing_scopes</targetReference>
            </connector>
            <label>Check if anyone of them is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Scope_or_TandC_Records</name>
        <label>Check Scope or TandC Records</label>
        <locationX>798</locationX>
        <locationY>1979</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Scope_and_TandC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_all_Scopes_from_Program</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_T_C_records_from_Program_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Scope_Clone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_T_C_Clone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Scope</targetReference>
            </connector>
            <label>Check Scope and TandC</label>
        </rules>
        <rules>
            <name>Check_only_T_and_C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_T_C_records_from_Program_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_all_Scopes_from_Program</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_T_C_Clone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_T_C</targetReference>
            </connector>
            <label>Check only T and C</label>
        </rules>
        <rules>
            <name>Check_only_Scope</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_all_Scopes_from_Program</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_T_C_records_from_Program_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Scope_Clone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Scope_0</targetReference>
            </connector>
            <label>Check only Scope</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_T_C_Engagement_Type_and_Language</name>
        <label>Check T&amp;C Engagement Type and Language</label>
        <locationX>886</locationX>
        <locationY>2195</locationY>
        <defaultConnector>
            <targetReference>Loop_on_T_C</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_T_C_Fields</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_T_C.Engagement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Engagement_Type__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_T_C.Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Language__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Single_T_C_Record</targetReference>
            </connector>
            <label>Check T&amp;C Fields</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_T_C_Engagement_Type_and_Language_0</name>
        <label>Check T&amp;C Engagement Type and Language</label>
        <locationX>270</locationX>
        <locationY>2903</locationY>
        <defaultConnector>
            <targetReference>Loop_on_T_C_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_T_C_Fields_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_T_C_0.Engagement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Engagement_Type__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_T_C_0.Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Language__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Single_T_C_Record_0_0</targetReference>
            </connector>
            <label>Check T&amp;C Fields</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flow_Is_Active</name>
        <label>Flow Is Active</label>
        <locationX>1304</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Setting</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Setting.Is_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_the_program_Engagementtype_or_language_is_changed</targetReference>
            </connector>
            <label>Is Active</label>
        </rules>
    </decisions>
    <description>Removed Bypass Permission ,Added bypass for scope and T&amp;C on 11-05-2023</description>
    <environments>Default</environments>
    <formulas>
        <name>isVarNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Cloning Scope and T&amp;C {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cloning Scope and T&amp;C</label>
    <loops>
        <name>Loop_on_Scope</name>
        <label>Loop on Scope</label>
        <locationX>50</locationX>
        <locationY>2087</locationY>
        <collectionReference>Get_all_Scopes_from_Program</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Engagement_type_and_Language</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Cloning_Scope_Records_for_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Scope_0</name>
        <label>Loop on Scope</label>
        <locationX>1282</locationX>
        <locationY>2087</locationY>
        <collectionReference>Get_all_Scopes_from_Program</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Engagement_type_and_Language_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Cloning_Scope_Records_for_Opportunity_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_T_C</name>
        <label>Loop on T&amp;C</label>
        <locationX>666</locationX>
        <locationY>2087</locationY>
        <collectionReference>Get_T_C_records_from_Program_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_T_C_Engagement_Type_and_Language</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Cloning_T_C_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_T_C_0</name>
        <label>Loop on T&amp;C</label>
        <locationX>50</locationX>
        <locationY>2795</locationY>
        <collectionReference>Get_T_C_records_from_Program_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_T_C_Engagement_Type_and_Language_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Cloning_T_C_Records_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Cloning_Scope_Records_for_Opportunity</name>
        <label>Cloning Scope Records for Opportunity</label>
        <locationX>50</locationX>
        <locationY>2687</locationY>
        <connector>
            <targetReference>Loop_on_T_C_0</targetReference>
        </connector>
        <inputReference>ListofScope</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Cloning_Scope_Records_for_Opportunity_0</name>
        <label>Cloning Scope Records for Opportunity</label>
        <locationX>1282</locationX>
        <locationY>2687</locationY>
        <inputReference>ListofScope</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Cloning_T_C_Records</name>
        <label>Cloning T&amp;C Records</label>
        <locationX>666</locationX>
        <locationY>2687</locationY>
        <inputReference>ListofTandCRecords</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Cloning_T_C_Records_0</name>
        <label>Cloning T&amp;C Records</label>
        <locationX>50</locationX>
        <locationY>3395</locationY>
        <inputReference>ListofTandCRecords</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Existing_Scopes</name>
        <label>Delete Existing Scopes</label>
        <locationX>512</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Check_Existing_T_and_Cs</targetReference>
        </connector>
        <inputReference>Get_all_existing_scopes</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Existing_T_and_Cs</name>
        <label>Delete Existing T and Cs</label>
        <locationX>512</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Get_Opportunity_RecordType_from_Scope</targetReference>
        </connector>
        <inputReference>Get_all_existing_T_and_C</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_all_existing_scopes</name>
        <label>Get all existing scopes</label>
        <locationX>644</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_existing_T_and_C</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sub_Scope__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Scope__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_existing_T_and_C</name>
        <label>Get all existing T and C</label>
        <locationX>644</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Existing_Scopes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Terms_Condition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_Scopes_from_Program</name>
        <label>Get all Scopes from Program</label>
        <locationX>798</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_T_C_records_from_Program_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Programc__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.ProgramScopeRTId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Scope__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_RecordType_from_Scope</name>
        <label>Get Opportunity RecordType from Scope</label>
        <locationX>798</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_RecordType_From_T_C_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scope__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>OpportunityRecordTypeonScope</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_RecordType_From_T_C_0</name>
        <label>Get Opportunity RecordType From T&amp;C</label>
        <locationX>798</locationX>
        <locationY>1655</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_Scopes_from_Program</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Terms_Condition__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>OpportunityRecordTypeonTandC</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_T_C_records_from_Program_0</name>
        <label>Get T&amp;C records from Program</label>
        <locationX>798</locationX>
        <locationY>1871</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Scope_or_TandC_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Programc__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Engagement_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Engagement_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Language__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Language__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Terms_Condition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Trigger_Setting</name>
        <label>Get Trigger Setting</label>
        <locationX>1304</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Flow_Is_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cloning_Scope_and_T_C</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Trigger_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1178</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Trigger_Setting</targetReference>
        </connector>
        <filterFormula>OR(
	AND(
		ISNEW(), 
		NOT(ISNULL({!$Record.Programc__c})),
		NOT(ISBLANK(TEXT({!$Record.Engagement_Type__c}))),
		NOT(ISBLANK(TEXT({!$Record.Language__c}))),
		CASESAFEID({!$User.Id})&lt;&gt;{!$Label.Web_Integrator}
		),
	OR(
		AND(
		ISCHANGED({!$Record.Programc__c}),
		NOT(ISNULL({!$Record.Programc__c})),
		CASESAFEID({!$User.Id})&lt;&gt;{!$Label.Web_Integrator}
		),
		AND(
		ISCHANGED({!$Record.Engagement_Type__c}),
		NOT(ISBLANK(TEXT({!$Record.Engagement_Type__c}))),
		CASESAFEID({!$User.Id})&lt;&gt;{!$Label.Web_Integrator}
		),
		AND(
		ISCHANGED({!$Record.Language__c}),
		NOT(ISBLANK(TEXT({!$Record.Language__c}))),
		CASESAFEID({!$User.Id})&lt;&gt;{!$Label.Web_Integrator}
		)
	)
)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ListofScope</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Scope__c</objectType>
    </variables>
    <variables>
        <name>ListofTandCRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Terms_Condition__c</objectType>
    </variables>
    <variables>
        <name>OpportunityRecordTypeonScope</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityRecordTypeonTandC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleScopeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Scope__c</objectType>
    </variables>
    <variables>
        <name>SingleTandCRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Terms_Condition__c</objectType>
    </variables>
</Flow>
