force-app/main/default/flows/Create_Credit_Memo_and_Credit_Memo_Lines.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_to_Created_CreditMemo_Record</name>
        <label>Navigate to Created CreditMemo Record</label>
        <locationX>182</locationX>
        <locationY>2918</locationY>
        <actionName>c:LightningFlowCompNavigatetoSobjRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Create_Credit_Memo</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_CreditMemo_Lines_to_CreditMemoCollection</name>
        <label>Assign CreditMemo Lines to CreditMemoCollection</label>
        <locationX>50</locationX>
        <locationY>2582</locationY>
        <assignmentItems>
            <assignToReference>CreditMemoLinesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>creditLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_CreditMemoLines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_CreditMemoLines_Collection</name>
        <label>Assign to CreditMemoLines Collection</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>CreditMemoLinesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>creditLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bank_Charges_Entered</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_CreditMemoLines_Collection1</name>
        <label>Assign to CreditMemoLines Collection</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>CreditMemoLinesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>creditLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Taxes_Entered</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_CreditMemoLinesCollection</name>
        <label>Assign to CreditMemoLinesCollection</label>
        <locationX>50</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>CreditMemoLinesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>creditLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Foreign_Currency_Entered</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_CreditMemoLinesCollection1</name>
        <label>Assign to CreditMemoLinesCollection</label>
        <locationX>50</locationX>
        <locationY>2126</locationY>
        <assignmentItems>
            <assignToReference>CreditMemoLinesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>creditLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Billed_Services_Entered</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Credit_Line_Item</name>
        <label>Create Credit Line Item</label>
        <locationX>50</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>creditLineItem.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Foreign Currency Exchange Loss</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditLineItem.fw1__Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Foreign_Currency_Exchange_Loss</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditLineItem.fw1__Taxable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditLineItem.fw1__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditLineItem.QB_Account_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FCEL – Foreign Currency Exchange Loss</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditLineItem.fw1__Credit_Memo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Credit_Memo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_CreditMemoLinesCollection1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Credit_LineItem</name>
        <label>Create Credit LineItem</label>
        <locationX>50</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>creditLineItem.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Taxes : Foreign Taxes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditLineItem.fw1__Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TAXES_Foreign_Taxes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditLineItem.fw1__Taxable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditLineItem.fw1__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditLineItem.QB_Account_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FT – Foreign Taxes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditLineItem.fw1__Credit_Memo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Credit_Memo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_CreditMemoLinesCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_CreditLine_Item</name>
        <label>Create CreditLine Item</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>creditLineItem.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bank Charges</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditLineItem.fw1__Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bank_Charges</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditLineItem.fw1__Taxable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditLineItem.fw1__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditLineItem.QB_Account_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BC – Bank Charges</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditLineItem.fw1__Credit_Memo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Credit_Memo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_CreditMemoLines_Collection1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_CreditLineItem</name>
        <label>Create CreditLineItem</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>creditLineItem.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bad Debt</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditLineItem.fw1__Credit_Memo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Credit_Memo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditLineItem.fw1__Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bad_Debt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditLineItem.fw1__Taxable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditLineItem.fw1__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditLineItem.QB_Account_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BD – Bad Debt</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_CreditMemoLines_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateCreditLineItem</name>
        <label>Create Credit LineItem</label>
        <locationX>50</locationX>
        <locationY>2462</locationY>
        <assignmentItems>
            <assignToReference>creditLineItem.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Billed Services</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditLineItem.fw1__Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billed_Services</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditLineItem.fw1__Taxable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditLineItem.fw1__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditLineItem.QB_Account_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OR – Other Revenue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditLineItem.fw1__Credit_Memo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Credit_Memo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_CreditMemo_Lines_to_CreditMemoCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bad_Debt_entered</name>
        <label>Bad Debt entered</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Bank_Charges_Entered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Bad_Debt</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Bad_Debt</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CreditLineItem</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bank_Charges_Entered</name>
        <label>Bank Charges Entered</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Taxes_Entered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_BankCharges</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Bank_Charges</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Bank_Charges</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CreditLine_Item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Billed_Services_Entered</name>
        <label>Billed Services Entered</label>
        <locationX>182</locationX>
        <locationY>2342</locationY>
        <defaultConnector>
            <targetReference>Create_CreditMemoLines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_BilledServices</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Billed_Services</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Billed_Services</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateCreditLineItem</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Foreign_Currency_Entered</name>
        <label>Foreign Currency Entered</label>
        <locationX>182</locationX>
        <locationY>1886</locationY>
        <defaultConnector>
            <targetReference>Billed_Services_Entered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_ForeignCurrency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Foreign_Currency_Exchange_Loss</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Foreign_Currency_Exchange_Loss</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Credit_Line_Item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Taxes_Entered</name>
        <label>Taxes Entered</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Foreign_Currency_Entered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_taxes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TAXES_Foreign_Taxes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TAXES_Foreign_Taxes</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Credit_LineItem</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Credit Memo and Credit Memo Lines {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Credit Memo and Credit Memo Lines</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Credit_Memo</name>
        <label>Create Credit Memo</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Bad_Debt_entered</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Account__c</field>
            <value>
                <elementReference>Get_Invoice_Record.fw1__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Contact__c</field>
            <value>
                <elementReference>Get_Invoice_Record.fw1__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Email_Message__c</field>
            <value>
                <stringValue>A credit has been issued to your account. Please see attached for more details.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Email_Subject__c</field>
            <value>
                <stringValue>SCS Global Services has issued you a credit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Entity__c</field>
            <value>
                <elementReference>Get_Invoice_Record.fw1__Entity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Generated_From__c</field>
            <value>
                <elementReference>Get_Invoice_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>fw1__Credit_Memo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CreditMemoLines</name>
        <label>Create CreditMemoLines</label>
        <locationX>182</locationX>
        <locationY>2798</locationY>
        <connector>
            <targetReference>Navigate_to_Created_CreditMemo_Record</targetReference>
        </connector>
        <inputReference>CreditMemoLinesCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Invoice_Record</name>
        <label>Get Invoice Record</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Credit_Memo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>fw1__Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>New_Credit_Memo</name>
        <label>New Credit Memo</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Invoice_Record</targetReference>
        </connector>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Bad_Debt</name>
            <dataType>Number</dataType>
            <fieldText>Bad Debt</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Bank_Charges</name>
            <dataType>Number</dataType>
            <fieldText>Bank Charges</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Billed_Services</name>
            <dataType>Number</dataType>
            <fieldText>Billed Services</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Foreign_Currency_Exchange_Loss</name>
            <dataType>Number</dataType>
            <fieldText>Foreign Currency Exchange Loss</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>TAXES_Foreign_Taxes</name>
            <dataType>Number</dataType>
            <fieldText>TAXES:Foreign Taxes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Credit_Memo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>creditLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>fw1__Credit_Memo_Line__c</objectType>
    </variables>
    <variables>
        <name>CreditMemoLinesCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>fw1__Credit_Memo_Line__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
