force-app/main/default/flows/Generate_Certificate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <dynamicChoiceSets>
        <name>CertificateType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Certification_Type__c</picklistField>
        <picklistObject>Certificate__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SelectSiteForCertification</name>
        <collectionReference>Get_Sites_Covered</collectionReference>
        <dataType>String</dataType>
        <displayField>Site_Name__c</displayField>
        <object>Site_Covered__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Generate Certificate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Certificate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Certificate</name>
        <label>Create Certificate</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId.inspire1__Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Certification_Type__c</field>
            <value>
                <elementReference>CertificationType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Audit__c</field>
            <value>
                <elementReference>Date_of_Audit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Decision__c</field>
            <value>
                <elementReference>Date_of_Decision</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Expiry__c</field>
            <value>
                <elementReference>Date_of_Expiry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Next_Recertification_Audit__c</field>
            <value>
                <elementReference>Date_of_Next_Recertification_Audit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exclusions__c</field>
            <value>
                <elementReference>Exclusions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSC__c</field>
            <value>
                <elementReference>FSC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Certificate_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId.inspire1__Opportunity1__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Products__c</field>
            <value>
                <elementReference>Products</elementReference>
            </value>
        </inputAssignments>
        <object>Certificate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sites_Covered</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.inspire1__Opportunity1__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sites_Covered</name>
        <label>Get Sites Covered</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Certificate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.inspire1__Opportunity1__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Site_Covered__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>New_Certificate</name>
        <label>New Certificate</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Certificate</targetReference>
        </connector>
        <fields>
            <name>New_Certificate_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Certificate_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CustomerName</name>
                    <fieldText>&lt;p&gt;Customer Name : {!recordId.inspire1__Account__r.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Date_of_Decision</name>
                    <dataType>Date</dataType>
                    <fieldText>Date of Decision</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Date_of_Audit</name>
                    <dataType>Date</dataType>
                    <fieldText>Date of Audit</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>CertificationType</name>
                    <choiceReferences>CertificateType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Certification Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Products</name>
                    <fieldText>Products</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>SiteList</name>
                    <choiceReferences>SelectSiteForCertification</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Site Covered</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Certificate_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BillingAddress</name>
                    <fieldText>&lt;p&gt;Address: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!recordId.inspire1__Account__r.BillingCountry}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Certificate_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Certificate Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Date_of_Expiry</name>
                    <dataType>Date</dataType>
                    <fieldText>Date of Expiry</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Date_of_Next_Recertification_Audit</name>
                    <dataType>Date</dataType>
                    <fieldText>Date of Next Recertification Audit</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>FSC</name>
                    <dataType>String</dataType>
                    <fieldText>FSC</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Exclusions</name>
                    <fieldText>Exclusions</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>inspire1__Project__c</objectType>
    </variables>
    <variables>
        <name>SelectedSiteList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Site_Covered__c</objectType>
    </variables>
</Flow>
