force-app/main/default/flows/Goal_Link_User_Goal_With_Program_Goal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_User_Goal_Into_List</name>
        <label>Add User Goal Into List</label>
        <locationX>534</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>varUserGoalList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varUserGoal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_User_Goal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Program_Goal_To_User_Goal</name>
        <label>Assign Program Goal To User Goal</label>
        <locationX>534</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>varUserGoal.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Looping_User_Goal.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUserGoal.Program_Goal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_User_Goal_Into_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_User_Goal_List</name>
        <label>Is User Goal List ?</label>
        <locationX>446</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUserGoalList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Goals</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Master_Decision</name>
        <label>Master Decision</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_User_Goal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>User_Goal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Programc__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quarter__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Year__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Program_Goal</targetReference>
            </connector>
            <label>Is User Goal ?</label>
        </rules>
        <rules>
            <name>Is_Program_Goal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program_Goal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Programc__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quarter__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Year__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Goals</targetReference>
            </connector>
            <label>Is Program Goal ?</label>
        </rules>
    </decisions>
    <description>[01-02-2023 : Associate all user goal with program goal</description>
    <environments>Default</environments>
    <interviewLabel>Goal - Link User Goal With Program Goal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Goal - Link User Goal With Program Goal</label>
    <loops>
        <name>Looping_User_Goal</name>
        <label>Looping User Goal</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_User_Goals</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Program_Goal_To_User_Goal</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_User_Goal_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Program_Goal</name>
        <label>Get Program Goal</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_User_Goal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.FnA_Program_Goal_Record_Type_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Programc__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Programc__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Quarter__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quarter__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Year__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Goal__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Goals</name>
        <label>Get User Goals</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looping_User_Goal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.FnA_User_Goal_Record_Type_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Programc__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Programc__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Quarter__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quarter__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program_Goal__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Goal__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Program_Goal__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_User_Goal</name>
        <label>Update User Goal</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Program_Goal__c</field>
            <value>
                <elementReference>Get_Program_Goal.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Goals</name>
        <label>Update User Goals</label>
        <locationX>314</locationX>
        <locationY>1151</locationY>
        <inputReference>varUserGoalList</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Master_Decision</targetReference>
        </connector>
        <object>Goal__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Goal__c</objectType>
    </variables>
    <variables>
        <name>varUserGoal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Goal__c</objectType>
    </variables>
    <variables>
        <name>varUserGoalList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Goal__c</objectType>
    </variables>
</Flow>
