force-app/main/default/flows/Invoice_Line_Update_Item_Description_From_OLI_Description.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Master_Decision</name>
        <label>Master Decision</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Line_Id_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.fw2__Opportunity_Line_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_OLI_Name</targetReference>
            </connector>
            <label>Opportunity Line Id Present</label>
        </rules>
        <rules>
            <name>Opportunity_Line_Id_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.fw2__Opportunity_Line_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Item_Description_From_Product_Name_Language</targetReference>
            </connector>
            <label>Opportunity Line Id Missing</label>
        </rules>
    </decisions>
    <description>[03-11-2022 : This flow use to update &quot;Item Description&quot; &amp; &quot;Name&quot; from Product Name Lanaguage</description>
    <environments>Default</environments>
    <interviewLabel>Invoice Line - Update OLI Description on Invoice Line {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invoice Line - Update Item Description From OLI Description</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>English_Product_Name_Language</name>
        <label>English Product Name Language</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Master_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Language__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>English</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fw1__Product2__c</elementReference>
            </value>
        </filters>
        <object>Product_Name_Language__c</object>
        <outputAssignments>
            <assignToReference>EnglishProductName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EnglishProductDescription</assignToReference>
            <field>Work_Order_Notes__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Update Item Name &amp; Description from Product Name Language</description>
        <name>Update_Item_Description_From_Product_Name_Language</name>
        <label>Update Item Description From Product Name Language</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>EnglishProductName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Long_Description__c</field>
            <value>
                <elementReference>EnglishProductDescription</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Item Name from Prodct Name Language</description>
        <name>Update_OLI_Name</name>
        <label>Update OLI Name</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>EnglishProductName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Long_Description__c</field>
            <value>
                <elementReference>EnglishProductDescription</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>English_Product_Name_Language</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>fw1__Product2__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>fw1__Invoice_Line__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EnglishProductDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EnglishProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
