force-app/main/default/flows/Invoice_Overdue_Email_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_1st_Invoice_Overdue_Email_Reminder</name>
        <label>Send 1st Invoice Overdue Email Reminder</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <actionName>fw1__Invoice__c.Invoice_Overdue_Email_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_2nd_Invoice_Overdue_Email_Reminder</name>
        <label>Send 2nd Invoice Overdue Email Reminder</label>
        <locationX>314</locationX>
        <locationY>408</locationY>
        <actionName>fw1__Invoice__c.Invoice_Overdue_Email_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_3rd_Invoice_Overdue_Email_Reminder</name>
        <label>Send 3rd Invoice Overdue Email Reminder</label>
        <locationX>578</locationX>
        <locationY>408</locationY>
        <actionName>fw1__Invoice__c.Invoice_Overdue_Email_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <description>Overdue Reminder Emails Sent when Invoice status is Overdue.
Overdue Reminder #1: Invoice DUE DATE + 5 days
Overdue Reminder #2: Invoice DUE DATE + 15 days
Overdue Reminder #3: Invoice DUE DATE + 30 days</description>
    <environments>Default</environments>
    <interviewLabel>Invoice - Overdue Email Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invoice - Overdue Email Reminder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_1st_Reminder_Task</name>
        <label>Create 1st Reminder Task</label>
        <locationX>50</locationX>
        <locationY>288</locationY>
        <connector>
            <targetReference>Send_1st_Invoice_Overdue_Email_Reminder</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Invoice Overdue 1st Reminder Email Sent 5 days after the Invoice Due Date</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Invoice Overdue 1st Reminder Email Sent 5 days after DueDate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_2nd_Reminder_Task</name>
        <label>Create 2nd Reminder Task</label>
        <locationX>314</locationX>
        <locationY>288</locationY>
        <connector>
            <targetReference>Send_2nd_Invoice_Overdue_Email_Reminder</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Invoice Overdue 2nd Reminder Email Sent 15 days after Due Date</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Invoice Overdue 2nd Reminder Email Sent 15 days after Due Date</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_3rd_Reminder_Task</name>
        <label>Create 3rd Reminder Task</label>
        <locationX>578</locationX>
        <locationY>288</locationY>
        <connector>
            <targetReference>Send_3rd_Invoice_Overdue_Email_Reminder</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Invoice Overdue 3rd Reminder Email Sent 30 days after Due Date</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Invoice Overdue 3rd Reminder Email Sent 30 days after Due Date</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Check_Overdue__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>fw1__Balance_Due__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>fw1__Invoice__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X5_Days_After_Invoice_Due_Date</name>
            <connector>
                <targetReference>Create_1st_Reminder_Task</targetReference>
            </connector>
            <label>5 Days After Invoice: Due Date</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>fw1__Due_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X15_Days_After_Invoice_Due_Date</name>
            <connector>
                <targetReference>Create_2nd_Reminder_Task</targetReference>
            </connector>
            <label>15 Days After Invoice: Due Date</label>
            <offsetNumber>15</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>fw1__Due_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X30_Days_After_Invoice_Due_Date</name>
            <connector>
                <targetReference>Create_3rd_Reminder_Task</targetReference>
            </connector>
            <label>30 Days After Invoice: Due Date</label>
            <offsetNumber>30</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>fw1__Due_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
