force-app/main/default/flows/Invoice_Courtesy_Email_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Sent_Invoice_Courtesy_Email_Reminder</name>
        <label>Sent Invoice Courtesy Email Reminder</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <actionName>fw1__Invoice__c.Invoice_Courtesy_Email_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <description>Courtesy Reminder Emails Sent when Invoice status is sent. Courtesy: Invoice Due Date - 15 days
Edit on 23052023 to prevent execution if payment terms are 0</description>
    <environments>Default</environments>
    <interviewLabel>Invoice - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invoice - Courtesy Email Reminder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Email_Reminder_Task</name>
        <label>Create Email Reminder Task</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Sent_Invoice_Courtesy_Email_Reminder</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Invoice Courtesy Email Sent 15 days before the Invoice Due Date</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Invoice Courtesy Email Sent 15 days before the Invoice Due Date</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Check_Overdue_Field</name>
        <label>Update Check Overdue Field</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>Create_Email_Reminder_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>Check_Overdue__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>fw1__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </filters>
        <filters>
            <field>fw1__Email_Sent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>fw1__Terms__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>fw1__Invoice__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X15_Days_Before_Invoice_Due_Date</name>
            <connector>
                <targetReference>Update_Check_Overdue_Field</targetReference>
            </connector>
            <label>15 Days Before Invoice: Due Date</label>
            <offsetNumber>-15</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>fw1__Due_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
