force-app/main/default/flows/Master_Invoice_Number_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>DMS_Invoice_Number_Availability_Check</name>
        <label>DMS Invoice Number Availability Check</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DMS_Invoice_Number_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DMS_Inv_Num__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_DMS_Invoice_Number</targetReference>
            </connector>
            <label>DMS Invoice Number Available</label>
        </rules>
        <rules>
            <name>DMS_Invoice_Number_Unavailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DMS_Inv_Num__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Web_Integrator_15_Digit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Invoice_Number</targetReference>
            </connector>
            <label>DMS Invoice Number Unavailable</label>
        </rules>
    </decisions>
    <description>Updating master invoice number with invoice number
[We have replace custom label with 15 digit id]</description>
    <environments>Default</environments>
    <interviewLabel>Master Invoice Number Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Master Invoice Number Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_DMS_Invoice_Number</name>
        <label>Update DMS Invoice Number</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Master_Invoice_Number__c</field>
            <value>
                <elementReference>$Record.DMS_Inv_Num__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updating in after as Auto number field was null in before</description>
        <name>Update_Invoice_Number</name>
        <label>Update Invoice Number</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Master_Invoice_Number__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DMS_Invoice_Number_Availability_Check</targetReference>
        </connector>
        <object>fw1__Invoice__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>tempInvoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>fw1__Invoice__c</objectType>
    </variables>
</Flow>
