force-app/main/default/flows/Opp_Create_Project_on_button_click.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_to_Project_Team_List</name>
        <label>Add to Project Team List</label>
        <locationX>1961</locationX>
        <locationY>798</locationY>
        <assignmentItems>
            <assignToReference>ProjectTeam</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Project_Template_Team</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Project_Template_Team</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Project_Team_List</name>
        <label>Assign to Project Team List</label>
        <locationX>1838</locationX>
        <locationY>797</locationY>
        <assignmentItems>
            <assignToReference>Loop_Project_Template_Team.inspire1__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCreatedProjectRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Project_Template_Team.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Project_Team_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdatedProjectTask</name>
        <label>UpdatedProjectTask</label>
        <locationX>1431</locationX>
        <locationY>1498</locationY>
        <assignmentItems>
            <assignToReference>updatedProjectTaskRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>check_for_first_project_task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_ProjectTaskRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updateProjectStartDate</name>
        <label>updateProjectStartDate</label>
        <locationX>1282</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>check_for_first_project_task.inspire1__StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>convertedDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatedProjectTask</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkForFirstProjectTask</name>
        <label>checkForFirstProjectTask</label>
        <locationX>1984</locationX>
        <locationY>1181</locationY>
        <defaultConnector>
            <targetReference>check_for_first_project_task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ProjectTaskFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>check_for_first_project_task.inspire1__Task_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateProjectStartDate</targetReference>
            </connector>
            <label>ProjectTaskFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkNewProjectIsCreated</name>
        <label>checkNewProjectIsCreated</label>
        <locationX>921</locationX>
        <locationY>1834</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCreated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCreatedProjectRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Project_Record_Created</targetReference>
            </connector>
            <label>IsCreated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flow_Is_Active</name>
        <label>Flow Is Active</label>
        <locationX>941</locationX>
        <locationY>326</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Setting</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Setting.Is_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Opportunity_record</targetReference>
            </connector>
            <label>Is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>isProjectTemplateSelect</name>
        <label>isProjectTemplateSelected</label>
        <locationX>556</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>create_Project_for_related_opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isProjectTemplateSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Opportunity_record.Project_Template_non_standard__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Project_template_missing</targetReference>
            </connector>
            <label>isProjectTemplateSelected</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>convertedDateTime</name>
        <dataType>DateTime</dataType>
        <expression>IF( ISNULL({!get_Opportunity_record.Project_Start_Date__c}) , DATETIMEVALUE(TODAY())+(17/24) ,  DATETIMEVALUE({!get_Opportunity_record.Project_Start_Date__c})+(17/24) )</expression>
    </formulas>
    <formulas>
        <description>convert Project Start date from date to datetime value</description>
        <name>convertedProjectStartDate</name>
        <dataType>String</dataType>
        <expression>TEXT( MONTH( {!get_Opportunity_record.Project_Start_Date__c} ))&amp;&quot;/&quot;&amp;TEXT( DAY(  {!get_Opportunity_record.Project_Start_Date__c}  ) )&amp;&quot;/&quot;&amp;TEXT(YEAR(  {!get_Opportunity_record.Project_Start_Date__c}  ) )&amp;&quot;, 9:00 AM&quot;</expression>
    </formulas>
    <formulas>
        <name>ProjectName1</name>
        <dataType>String</dataType>
        <expression>TEXT( {!get_Opportunity_record.Program_List__c})  +&apos; &apos;+ TEXT({!get_Opportunity_record.Engagement_Type__c})</expression>
    </formulas>
    <formulas>
        <description>Project name = TruncatedOppName</description>
        <name>TruncatedOppName</name>
        <dataType>String</dataType>
        <expression>LEFT( {!get_Opportunity_record.Name} , 79)</expression>
    </formulas>
    <interviewLabel>Opp - Create Project on button click {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opp - Create Project on button click</label>
    <loops>
        <name>check_for_first_project_task</name>
        <label>check for first project task</label>
        <locationX>1062</locationX>
        <locationY>1166</locationY>
        <collectionReference>getRelatedProjectTask</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkForFirstProjectTask</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>checkNewProjectIsCreated</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Project_Template_Team</name>
        <label>Loop Project Template Team</label>
        <locationX>1483</locationX>
        <locationY>796</locationY>
        <collectionReference>Get_Project_Template_Team</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_Project_Team_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Project_Team</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_Project_for_related_opportunity</name>
        <label>create Project for related opportunity</label>
        <locationX>1062</locationX>
        <locationY>686</locationY>
        <connector>
            <targetReference>getCreatedProjectRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>Expense_Margin__c</field>
            <value>
                <elementReference>get_Opportunity_record.Programc__r.Expense_Margin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>TruncatedOppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program__c</field>
            <value>
                <elementReference>get_Opportunity_record.Programc__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inspire1__Account__c</field>
            <value>
                <elementReference>get_Opportunity_record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inspire1__Opportunity1__c</field>
            <value>
                <elementReference>get_Opportunity_record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inspire1__Project_Status__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inspire1__Project_Template__c</field>
            <value>
                <elementReference>get_Opportunity_record.Project_Template_non_standard__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inspire1__sysRecalcStartDate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>inspire1__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Project_Team</name>
        <label>Create Project Team</label>
        <locationX>1394</locationX>
        <locationY>933</locationY>
        <connector>
            <targetReference>getRelatedProjectTask</targetReference>
        </connector>
        <inputReference>ProjectTeam</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Opportunity_record</name>
        <label>get Opportunity record</label>
        <locationX>556</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isProjectTemplateSelect</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Template_Team</name>
        <label>Get Project Template Team</label>
        <locationX>1310</locationX>
        <locationY>799</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Project_Template_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inspire1__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Opportunity_record.Project_Template_non_standard__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>inspire1__Project_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Trigger_Setting</name>
        <label>Get Trigger Setting</label>
        <locationX>941</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Flow_Is_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opp_Create_Project_on_button_click</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Trigger_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCreatedProjectRecord</name>
        <label>getCreatedProjectRecord</label>
        <locationX>1062</locationX>
        <locationY>806</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateSysRecalProjectField</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>create_Project_for_related_opportunity</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>inspire1__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRelatedProjectTask</name>
        <label>getRelatedProjectTask</label>
        <locationX>1305</locationX>
        <locationY>1060</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_for_first_project_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inspire1__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>create_Project_for_related_opportunity</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>inspire1__Project_Tasks__c</object>
        <sortField>inspire1__RowNumber__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_ProjectTaskRecord</name>
        <label>update-ProjectTaskRecord</label>
        <locationX>1282</locationX>
        <locationY>1645</locationY>
        <connector>
            <targetReference>checkNewProjectIsCreated</targetReference>
        </connector>
        <inputReference>updatedProjectTaskRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateSysRecalProjectField</name>
        <label>updateSysRecalProjectField</label>
        <locationX>1062</locationX>
        <locationY>926</locationY>
        <connector>
            <targetReference>Get_Project_Template_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCreatedProjectRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>inspire1__sysRecalcStartDate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>inspire1__Project__c</object>
    </recordUpdates>
    <screens>
        <name>Project_Record_Created</name>
        <label>Project Record Created</label>
        <locationX>1150</locationX>
        <locationY>1886</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>success_Messagee</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;/{!getCreatedProjectRecord.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!getCreatedProjectRecord.Name}&lt;/a&gt; is created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Project_template_missing</name>
        <label>Project template missing</label>
        <locationX>50</locationX>
        <locationY>686</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Project_template_error_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Please select project template before creating a project&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>815</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Trigger_Setting</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ProjectTeam</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>inspire1__Project_Team__c</objectType>
    </variables>
    <variables>
        <name>ProjectTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>ProjectName1</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updatedProjectTaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>inspire1__Project_Tasks__c</objectType>
    </variables>
</Flow>
