force-app/main/default/flows/Opp_Update_Line_Desc_and_Description_Field_from_Program_name_launguage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>checkProductLanguageName</name>
        <label>checkProductLanguageName</label>
        <locationX>987</locationX>
        <locationY>145</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_associated_Product_name_launguage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Description_and_line_Description_Field</targetReference>
            </connector>
            <label>isNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flow_Is_Active</name>
        <label>Flow Is Active</label>
        <locationX>609</locationX>
        <locationY>140</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Setting</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Setting.Is_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_associated_Product_name_launguage</targetReference>
            </connector>
            <label>Is Active</label>
        </rules>
    </decisions>
    <description>Update Line Description and Description field on Opp Product if we have associated record on Program name launguage on the basis of Program Id , Product Id and language.</description>
    <environments>Default</environments>
    <interviewLabel>Opp - Update Line Desc and Description Field from Program name launguage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opp - Update Line Desc and Description field from Program name launguage</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_associated_Product_name_launguage</name>
        <label>Get associated Product name launguage</label>
        <locationX>830</locationX>
        <locationY>143</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkProductLanguageName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Language__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.Language__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.Programc__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Name_Language__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Find Salesforce records and store their field values in flow variables.</description>
        <name>Get_Trigger_Setting</name>
        <label>Get Trigger Setting</label>
        <locationX>477</locationX>
        <locationY>138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Flow_Is_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opp_Update_Line_Desc_and_Description</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Trigger_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Description_and_line_Description_Field</name>
        <label>Update Description and line Description Field</label>
        <locationX>994</locationX>
        <locationY>345</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Get_associated_Product_name_launguage.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Get_associated_Product_name_launguage.Work_Order_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Trigger_Setting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
