force-app/main/default/flows/opp_update_payment_term_on_approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Payment_Term_Email_Alert_for_Opportunity</name>
        <label>Payment Term Email Alert for Opportunity</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <actionName>Opportunity.Payment_Term_Email_Alert_for_Opportunity</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <description>if payment Term value is Immediate/Net15 then automatically update the field or else sent a mail for approval.</description>
        <name>checkPaymentTermValue</name>
        <label>checkPaymentTermValue</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>automatically_approve_payment_Term</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requested_Payment_Term__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Upon_receipt</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requested_Payment_Term__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Net 15</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requested_Payment_Term__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Net 30</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Payment_Term</targetReference>
            </connector>
            <label>automatically approve payment Term</label>
        </rules>
        <rules>
            <name>submit_for_approval</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requested_Payment_Term__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Net 45</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requested_Payment_Term__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Net 60</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_payment_term_as_submited_for_approval</targetReference>
            </connector>
            <label>submit for approval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flow_Is_Active</name>
        <label>Flow Is Active</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Setting</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Setting.Is_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkPaymentTermValue</targetReference>
            </connector>
            <label>Is Active</label>
        </rules>
    </decisions>
    <description>Removed Bypass Permission</description>
    <environments>Default</environments>
    <formulas>
        <name>detailLink</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Enterprise_Server_URL_510, FIND( &apos;/services&apos;, $Api.Enterprise_Server_URL_510)) &amp; 
    {!$Record.Id}</expression>
    </formulas>
    <interviewLabel>opp - update payment term on approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>opp - update payment term on approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Public_Groups_Details</name>
        <label>Get Public Groups Details</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Payment_Term_Email_Alert_for_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accounting_Team</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Trigger_Setting</name>
        <label>Get Trigger Setting</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Flow_Is_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>opp_update_payment_term_on_approval</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Trigger_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Payment_Term</name>
        <label>update Payment Term</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Payment_Term__c</field>
            <value>
                <elementReference>$Record.Requested_Payment_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Terms_Approval__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Payment_Term__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_payment_term_as_submited_for_approval</name>
        <label>update payment term as submited for approval</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Get_Public_Groups_Details</targetReference>
        </connector>
        <inputAssignments>
            <field>Payment_Terms_Approval__c</field>
            <value>
                <stringValue>Submitted for Approval</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Trigger_Setting</targetReference>
        </connector>
        <filterFormula>AND(ISCHANGED({!$Record.Requested_Payment_Term__c}))</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>21</triggerOrder>
    <variables>
        <name>Email_Addresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>User_ID_Collection_Variable</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
