force-app/main/default/flows/Opp_Update_Total_Sales_Price_field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>updateTSPonOppProduct</name>
        <label>updateTSPonOppProduct</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>loopOnOpportunityProducts.Total_Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalSalesCalculated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopOnOpportunityProducts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Flow_Is_Active</name>
        <label>Flow Is Active</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Setting</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Setting.Is_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getOpportunityProducts</targetReference>
            </connector>
            <label>Is Active</label>
        </rules>
    </decisions>
    <description>Removed Bypass Permission</description>
    <environments>Default</environments>
    <formulas>
        <name>TotalSalesCalculated</name>
        <dataType>Currency</dataType>
        <expression>{!loopOnOpportunityProducts.TotalAdjustedPrice__c}- IF(AND(ISNULL({!loopOnOpportunityProducts.Discount_Amount__c}), NOT(ISNULL({!loopOnOpportunityProducts.Discount}))), ({!loopOnOpportunityProducts.TotalAdjustedPrice__c}*{!loopOnOpportunityProducts.Discount})/100, IF( AND(NOT(ISNULL({!loopOnOpportunityProducts.Discount_Amount__c})), ISNULL({!loopOnOpportunityProducts.Discount})),{!loopOnOpportunityProducts.Discount_Amount__c}, 0))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Opp - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opp -Update Total Sales Price field</label>
    <loops>
        <name>loopOnOpportunityProducts</name>
        <label>loopOnOpportunityProducts</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>updatedOppProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>updateTSPonOppProduct</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateTotalSalaesPriceonOppProducts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Trigger_Setting</name>
        <label>Get Trigger Setting</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Flow_Is_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opp_Update_Total_Sales_Price_field_on_o</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Trigger_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOpportunityProducts</name>
        <label>getOpportunityProducts</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopOnOpportunityProducts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>updatedOppProducts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Total_Sales_Price__c</queriedFields>
        <queriedFields>TotalAdjustedPrice__c</queriedFields>
        <queriedFields>Discount</queriedFields>
        <queriedFields>Discount_Amount__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateTotalSalaesPriceonOppProducts</name>
        <label>updateTotalSalaesPriceonOppProducts</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <inputReference>updatedOppProducts</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Trigger_Setting</targetReference>
        </connector>
        <filterFormula>AND(
OR(ISCHANGED({!$Record.Margin__c}),ISCHANGED({!$Record.Bundle_Opportunity__c})),
OR({!$Record.RecordType.DeveloperName}=&apos;Food_and_Agriculture&apos;,{!$Record.RecordType.DeveloperName}=&apos;Natural_Resources&apos;,{!$Record.RecordType.DeveloperName}=&apos;Research_and_Development&apos;,{!$Record.RecordType.DeveloperName}=&apos;ECS&apos;)
)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1</triggerOrder>
    <variables>
        <name>updatedOppProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
