force-app/main/default/flows/Opportunity_PriceBook_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_PriceBook_Id</name>
        <label>Assign PriceBook Id</label>
        <locationX>138</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>priceBookId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PriceBook_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PriceBook_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Record_Count</name>
        <label>Record Count</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>pricebookCounter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Pricebook_For_Program</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Count_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_PriceBook_On_Oppty</name>
        <label>Update PriceBook On Oppty</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>priceBookId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Flow_Is_Active</name>
        <label>Flow Is Active</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Setting</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Setting.Is_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pricebook_For_Program</targetReference>
            </connector>
            <label>Is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Count_Check</name>
        <label>Record Count Check</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_One_PriceBook</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pricebookCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PriceBook_Loop</targetReference>
            </connector>
            <label>If One PriceBook</label>
        </rules>
    </decisions>
    <description>Removed Bypass Permission</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity PriceBook Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity PriceBook Update</label>
    <loops>
        <name>PriceBook_Loop</name>
        <label>PriceBook Loop</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <collectionReference>Get_Pricebook_For_Program</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_PriceBook_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_PriceBook_On_Oppty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Pricebook_For_Program</name>
        <label>Get Pricebook For Program</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Programc__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pricebook2</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Trigger_Setting</name>
        <label>Get Trigger Setting</label>
        <locationX>380</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Flow_Is_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity_PriceBook_Update</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Trigger_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Trigger_Setting</targetReference>
        </connector>
        <filterFormula>AND(ISNULL({!$Record.Pricebook2Id}),
  OR(
	ISNEW(),
	AND(
		ISCHANGED({!$Record.Programc__c}),
		NOT({!$Record.HasOpportunityLineItem})
	)
  ),
  NOT(ISBLANK({!$Record.Programc__c})),
  NOT({!$Permission.Bypass_Permission}),
{!$Record.RecordType.DeveloperName} &lt;&gt;&apos;Bundle_Opportunity&apos;
)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>pricebookCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>priceBookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>priceBookList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pricebook2</objectType>
    </variables>
</Flow>
