force-app/main/default/flows/Payment_Status_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Total_Paid_Amount</name>
        <label>Assign Total Paid Amount</label>
        <locationX>941</locationX>
        <locationY>451</locationY>
        <assignmentItems>
            <assignToReference>Get_Invoice_Record_To_Update.fw1__Total_Paid_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Invoice_Total_Paid_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_paymentStatus_variable</name>
        <label>Update paymentStatus variable</label>
        <locationX>942</locationX>
        <locationY>148</locationY>
        <assignmentItems>
            <assignToReference>PaymentStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Invoice_Record_To_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Payment_Status</name>
        <label>Check Payment Status</label>
        <locationX>485</locationX>
        <locationY>225</locationY>
        <defaultConnector>
            <targetReference>Get_Invoice_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Cancelled</defaultConnectorLabel>
        <rules>
            <name>Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PaymentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <label>Cancelled</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>UpdatedAmount</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Invoice_Record.fw1__Total_Paid_Amount__c} - {!PaymentAmount}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Payment Status Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment Status Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Invoice_Record</name>
        <label>Get Invoice Record</label>
        <locationX>645</locationX>
        <locationY>148</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Payment_Status_Cancelled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvoiceNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>fw1__Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoice_Record_To_Update</name>
        <label>Get Invoice Record To Update</label>
        <locationX>941</locationX>
        <locationY>316</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Total_Paid_Amount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvoiceNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>fw1__Invoice__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>fw1__Total_Paid_Amount__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Payment_Status_Cancelled</name>
        <label>Payment Status Cancelled</label>
        <locationX>794</locationX>
        <locationY>147</locationY>
        <connector>
            <targetReference>Update_paymentStatus_variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PaymentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>fw1__Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>fw1__Payment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Invoice_Total_Paid_Amount</name>
        <label>Update Invoice Total Paid Amount</label>
        <locationX>945</locationX>
        <locationY>623</locationY>
        <inputReference>Get_Invoice_Record_To_Update</inputReference>
    </recordUpdates>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Payment_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>InvoiceNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PaymentAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PaymentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PaymentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StatusisCancelled</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>test</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
