force-app/main/default/flows/Payment_Create_Payment_Activity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_Payment_Method</name>
        <label>Check Payment Method</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Credit_Memo_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.fw1__Payment_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Memo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Invoice_Record_For_Payment</targetReference>
            </connector>
            <label>Credit Memo Payment ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Master_Decision</name>
        <label>Master Decision</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_Payment_Method</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Web_Integrator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Web_Integrator_15_Digit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_Method_Check</targetReference>
            </connector>
            <label>Is Web Integrator</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Method_Check</name>
        <label>Payment Method Check</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_Invoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Credit_Memo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.fw1__Payment_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Memo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Invoice_Record</targetReference>
            </connector>
            <label>Credit Memo ?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>totalCreditMemoAmount</name>
        <dataType>Number</dataType>
        <expression>if(
	ISBLANK({!$Record.fw1__Invoice__r.Total_Credit_Memo_Amount__c}),
	{!$Record.fw1__Total_Paid_Amount__c},
	{!$Record.fw1__Invoice__r.Total_Credit_Memo_Amount__c} + {!$Record.fw1__Total_Paid_Amount__c}
)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Payment - Create Payment Activity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment - Create Payment Activity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Payment_Create_Payment_Activity</name>
        <label>Payment- Create Payment Activity</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Invoice Payment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Amount__c</field>
            <value>
                <elementReference>$Record.fw1__Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Applied_To_Invoice__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Invoice__c</field>
            <value>
                <elementReference>$Record.fw1__Invoice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Payment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Transaction_Date__c</field>
            <value>
                <elementReference>$Record.fw1__Payment_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>fw1__Payment_Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Invoice</name>
        <label>Update Invoice</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Payment_Create_Payment_Activity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fw1__Invoice__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>fw1__Total_Paid_Amount__c</field>
            <value>
                <elementReference>$Record.fw1__Total_Paid_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <object>fw1__Invoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Invoice_Record</name>
        <label>Update Invoice Record</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Payment_Create_Payment_Activity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fw1__Invoice__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Credit_Memo_Amount__c</field>
            <value>
                <elementReference>totalCreditMemoAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw1__Total_Paid_Amount__c</field>
            <value>
                <elementReference>$Record.fw1__Total_Paid_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <object>fw1__Invoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Invoice_Record_For_Payment</name>
        <label>Update Invoice Record For Payment</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fw1__Invoice__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Credit_Memo_Amount__c</field>
            <value>
                <elementReference>totalCreditMemoAmount</elementReference>
            </value>
        </inputAssignments>
        <object>fw1__Invoice__c</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Master_Decision</targetReference>
        </connector>
        <object>fw1__Payment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
