force-app/main/default/flows/populate_custom_fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign</name>
        <label>Assign</label>
        <locationX>703</locationX>
        <locationY>139</locationY>
        <assignmentItems>
            <assignToReference>$Record.Custom_Assignee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SupportOwner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Custom_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Custom_Reporter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reporter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Developer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomerAssignee2</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Proceed</name>
        <label>Proceed</label>
        <locationX>480</locationX>
        <locationY>139</locationY>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>1 OR (2 AND 4) OR 3 OR (5 AND 6) OR (7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Support_Owner__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Custom_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Support_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Support_Owner_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Support_Owner_2__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Id</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CustomerAssignee2</name>
        <dataType>String</dataType>
        <expression>{!$Record.Support_Owner_2__r.FirstName}+&quot; &quot;+{!$Record.Support_Owner_2__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>Reporter</name>
        <dataType>String</dataType>
        <expression>{!$Record.Owner:User.FirstName} +&quot; &quot; + {!$Record.Owner:User.LastName}</expression>
    </formulas>
    <formulas>
        <name>SupportOwner</name>
        <dataType>String</dataType>
        <expression>{!$Record.Support_Owner__r.FirstName} +&quot; &quot;+ {!$Record.Support_Owner__r.LastName}</expression>
    </formulas>
    <interviewLabel>populate custom fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>populate custom fields on Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>58</locationX>
        <locationY>62</locationY>
        <connector>
            <targetReference>Proceed</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
