force-app/main/default/flows/Project_Task_Automate_Project_Status_on_the_basis_of_Project_task_status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>task_are_completed</name>
        <label>task are completed</label>
        <locationX>1081</locationX>
        <locationY>8</locationY>
        <assignmentItems>
            <assignToReference>allTaskCompleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_for_completed_project_task_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>task_not_complete</name>
        <label>task not complete</label>
        <locationX>1185</locationX>
        <locationY>415</locationY>
        <assignmentItems>
            <assignToReference>allTaskCompleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_all_task_are_completed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_all_task_are_completed</name>
        <label>check all task are completed</label>
        <locationX>960</locationX>
        <locationY>417</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>all_task_are_completed</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>allTaskCompleted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.inspire1__Project__r.inspire1__Project_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.inspire1__Project__r.inspire1__Project_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_related_project_record_to_complete</targetReference>
            </connector>
            <label>all task are completed</label>
        </rules>
        <rules>
            <name>all_task_are_not_complete</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>allTaskCompleted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.inspire1__Project__r.inspire1__Project_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.inspire1__Project__r.inspire1__Project_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_related_project_record_to_inprogress</targetReference>
            </connector>
            <label>all task are not complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Record_Type_of_parent_Project</name>
        <label>check Record Type of parent Project</label>
        <locationX>538</locationX>
        <locationY>187</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SCS_Standard_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.inspire1__Project__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Food_and_Agriculture</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Project_Task</targetReference>
            </connector>
            <label>SCS_Standard_Project</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkForEachProjectTask</name>
        <label>checkForEachProjectTask</label>
        <locationX>1175</locationX>
        <locationY>184</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CompletedProjectTask</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>check_for_completed_project_task_status.inspire1__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.inspire1__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>task_are_completed</targetReference>
            </connector>
            <label>CompletedProjectTask</label>
        </rules>
        <rules>
            <name>taskNotComplete</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>check_for_completed_project_task_status.inspire1__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.inspire1__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>task_not_complete</targetReference>
            </connector>
            <label>taskNotComplete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flow_Is_Active</name>
        <label>Flow Is Active</label>
        <locationX>538</locationX>
        <locationY>478</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Setting</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Setting.Is_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_Record_Type_of_parent_Project</targetReference>
            </connector>
            <label>Is Active</label>
        </rules>
    </decisions>
    <description>If any of the tasks of the project is completed, the project status should be “In Progress”

If all the tasks of the project is completed, the project status should be “Completed”</description>
    <environments>Default</environments>
    <interviewLabel>Project Task - Automate Project Status on the basis of Project task status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Task - Automate Project Status on the basis of Project task status</label>
    <loops>
        <name>check_for_completed_project_task_status</name>
        <label>check for completed project task status</label>
        <locationX>967</locationX>
        <locationY>182</locationY>
        <collectionReference>Get_Related_Project_Task</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkForEachProjectTask</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>check_all_task_are_completed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Project_Task</name>
        <label>Get Related Project Task</label>
        <locationX>795</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_for_completed_project_task_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inspire1__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inspire1__Project__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>inspire1__Project_Tasks__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Trigger_Setting</name>
        <label>Get Trigger Setting</label>
        <locationX>204</locationX>
        <locationY>476</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Flow_Is_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Project_Task_Automate_Project_Status_on</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Trigger_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_related_project_record_to_complete</name>
        <label>update related project record to complete</label>
        <locationX>968</locationX>
        <locationY>591</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inspire1__Project__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>inspire1__Project_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>inspire1__Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_related_project_record_to_inprogress</name>
        <label>update related project record to inprogress</label>
        <locationX>708</locationX>
        <locationY>417</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inspire1__Project__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>inspire1__Project_Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>inspire1__Project__c</object>
    </recordUpdates>
    <start>
        <locationX>76</locationX>
        <locationY>82</locationY>
        <connector>
            <targetReference>Get_Trigger_Setting</targetReference>
        </connector>
        <filterLogic>(1 AND 2)</filterLogic>
        <filters>
            <field>inspire1__Project__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>inspire1__Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>inspire1__Project_Tasks__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>allTaskCompleted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
