force-app/main/default/flows/Set_Response_time_on_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_Response_time</name>
        <label>Set Response time</label>
        <locationX>673</locationX>
        <locationY>82</locationY>
        <assignmentItems>
            <assignToReference>$Record.Responce_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Responsetimeinhours</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>check_old_Status</name>
        <label>check old Status</label>
        <locationX>484</locationX>
        <locationY>88</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Was_new</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Response_time</targetReference>
            </connector>
            <label>Was new</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Responsetimeinhours</name>
        <dataType>Number</dataType>
        <expression>(NOW() - {!$Record.CreatedDate}) * 24</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Set Response time on Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Response time on Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>1</locationY>
        <connector>
            <targetReference>check_old_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Responce_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
