force-app/main/default/flows/Set_Certificate_Sequence.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Update_Sequence</name>
        <label>Update Sequence</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Get_Program.ProgramCertificationSequence__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Program_Sequence</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckifProgramFound</name>
        <label>Check if Program Found</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Is_Program_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Program</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Certificate_Sequence</targetReference>
            </connector>
            <label>Is Program Found</label>
        </rules>
    </decisions>
    <description>Count the number of Certificates and set sequence on Program</description>
    <environments>Default</environments>
    <formulas>
        <name>SequenceNumber</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Program.ProgramCertificationSequence__c} != 0, {!Get_Program.ProgramShortName__c}+TEXT({!Get_Program.ProgramCertificationSequence__c}), {!Get_Program.ProgramShortName__c}+&apos;1&apos;)</expression>
    </formulas>
    <interviewLabel>Set Certificate Sequence {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Certificate Sequence</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Program</name>
        <label>Get Program</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckifProgramFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Program__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProgramShortName__c</queriedFields>
        <queriedFields>ProgramCertificationSequence__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Certificate_Sequence</name>
        <label>Set Certificate Sequence</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Update_Sequence</targetReference>
        </connector>
        <inputAssignments>
            <field>SCS_Certification_Number__c</field>
            <value>
                <elementReference>SequenceNumber</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Program_Sequence</name>
        <label>Update Program Sequence</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <inputReference>Get_Program</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Program</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Certificate__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TotalCertificates</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
