force-app/main/default/flows/Single_Renewal_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>cloneOpportunityCertifiacte</name>
        <label>cloneOpportunityCertifiacte</label>
        <locationX>752</locationX>
        <locationY>7958</locationY>
        <actionName>createRenewalOpportunityCertificate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Sub_Scope_Records</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>renewOppId</name>
            <value>
                <elementReference>RenewOpportunity</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Adding_Single_Opportunity_Contact_Role_to_List</name>
        <label>Adding Single Opportunity Contact Role to List</label>
        <locationX>653</locationX>
        <locationY>4790</locationY>
        <assignmentItems>
            <assignToReference>ListofOpportunityContactRole</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleOpportunityContactRole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Opportunity_Contact_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Adding_Single_Opportunity_Team_Member_to_List</name>
        <label>Adding Single Opportunity Team Member to List</label>
        <locationX>653</locationX>
        <locationY>5990</locationY>
        <assignmentItems>
            <assignToReference>ListofOpportunityTeamMember</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleOpportunityTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Opportunity_Team_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Adding_Single_Site_Covered_to_List</name>
        <label>Adding Single Site Covered to List</label>
        <locationX>653</locationX>
        <locationY>3590</locationY>
        <assignmentItems>
            <assignToReference>ListofSiteCovered</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleSiteCovered</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Site_Covered</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Adding_Single_Standard_Covered_to_List</name>
        <label>Adding Single Standard Covered to List</label>
        <locationX>653</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>ListofStandardCovered</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleStandardCovered</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Standard_Covered</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Adding_Single_Sub_Scope_to_List</name>
        <label>Adding Single Sub Scope to List</label>
        <locationX>864</locationX>
        <locationY>8582</locationY>
        <assignmentItems>
            <assignToReference>ListofSubScopeRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleSubScopeRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Sub_Scopes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OLI_Fields_to_Single_OLI</name>
        <label>Assign OLI Fields to Single OLI</label>
        <locationX>754</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>SingleOLI.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Existing_Opportunity_Line_Items.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOLI.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Existing_Opportunity_Line_Items.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOLI.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Existing_Opportunity_Line_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOLI.Discount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Existing_Opportunity_Line_Items.Discount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOLI.ServiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Existing_Opportunity_Line_Items.ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOLI.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Existing_Opportunity_Line_Items.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOLI.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Existing_Opportunity_Line_Items.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOLI.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RenewOpportunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOLI.Discount_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Existing_Opportunity_Line_Items.Discount_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigning_Single_OLI_to_List_OLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Single_OLI_to_List_OLI</name>
        <label>Assigning Single OLI to List OLI</label>
        <locationX>754</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>ListofOLI</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleOLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Existing_Opportunity_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Single_Opportunity_Contact_Role</name>
        <label>Assigning Single Opportunity Contact Role</label>
        <locationX>653</locationX>
        <locationY>4682</locationY>
        <assignmentItems>
            <assignToReference>SingleOpportunityContactRole.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Opportunity_Contact_Roles.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOpportunityContactRole.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Opportunity_Contact_Roles.Role</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOpportunityContactRole.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Opportunity_Contact_Roles.IsPrimary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOpportunityContactRole.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RenewOpportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_Single_Opportunity_Contact_Role_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Single_Opportunity_Team_Member</name>
        <label>Assigning Single Opportunity Team Member</label>
        <locationX>653</locationX>
        <locationY>5882</locationY>
        <assignmentItems>
            <assignToReference>SingleOpportunityTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Opportunity_Team_Members.TeamMemberRole</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOpportunityTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Opportunity_Team_Members.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOpportunityTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Opportunity_Team_Members.OpportunityAccessLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOpportunityTeamMember.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RenewOpportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_Single_Opportunity_Team_Member_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Single_Site_Covered</name>
        <label>Assigning Single Site Covered</label>
        <locationX>653</locationX>
        <locationY>3482</locationY>
        <assignmentItems>
            <assignToReference>SingleSiteCovered.CustomerSite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Site_Covered.CustomerSite__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleSiteCovered.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RenewOpportunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleSiteCovered.Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Site_Covered.Customer__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_Single_Site_Covered_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Single_Standard_Covered</name>
        <label>Assigning Single Standard Covered</label>
        <locationX>653</locationX>
        <locationY>2282</locationY>
        <assignmentItems>
            <assignToReference>SingleStandardCovered.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RenewOpportunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleStandardCovered.Standard__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Standard_Covered.Standard__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleStandardCovered.Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Standard_Covered.Program__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_Single_Standard_Covered_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Single_Sub_Scope_Record</name>
        <label>Assigning Single Sub Scope Record</label>
        <locationX>864</locationX>
        <locationY>8474</locationY>
        <assignmentItems>
            <assignToReference>SingleSubScopeRecord.Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Sub_Scopes.Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleSubScopeRecord.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Sub_Scopes.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleSubScopeRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RenewOpportunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleSubScopeRecord.Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Sub_Scopes.Program__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleSubScopeRecord.Sub_Scope__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Sub_Scopes.Sub_Scope__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_Single_Sub_Scope_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Single_TnC_Assignment</name>
        <label>Single TnC Assignment</label>
        <locationX>653</locationX>
        <locationY>7082</locationY>
        <assignmentItems>
            <assignToReference>SingleTandC.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RenewOpportunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTandC.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TnC_Loop.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTandC.Engagement_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TnC_Loop.Engagement_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTandC.Entity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TnC_Loop.Entity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTandC.Language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TnC_Loop.Language__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTandC.Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TnC_Loop.Program__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTandC.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TnC_Loop.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTandC.Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TnC_Loop.Title__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Single_TnC_to_TnC_List_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Single_TnC_to_TnC_List_Assignment</name>
        <label>Single TnC to TnC List Assignment</label>
        <locationX>653</locationX>
        <locationY>7190</locationY>
        <assignmentItems>
            <assignToReference>TermsAndConditionList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleTandC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TnC_Loop</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>RecordSelectionNo</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>RecordSelectionYes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Stage_Closed_Lost</name>
        <choiceText>Closed Lost</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed Lost</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stage_Closed_Won</name>
        <choiceText>Closed Won</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed Won</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stage_Enquiry</name>
        <choiceText>Enquiry</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Enquiry</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stage_Negotiation</name>
        <choiceText>Negotiation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Negotiation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stage_Proposal</name>
        <choiceText>Proposal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Proposal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stage_Scoping</name>
        <choiceText>Scoping</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Scoping</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Contact_Role</name>
        <label>Check Contact Role</label>
        <locationX>884</locationX>
        <locationY>4250</locationY>
        <defaultConnector>
            <targetReference>Check_Opp_Team_Memeber</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Contact_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Contact_Roles</targetReference>
            </connector>
            <label>Is Contact Role</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Sub_Scope_record_exists</name>
        <label>Check Get Sub Scope record exists</label>
        <locationX>884</locationX>
        <locationY>8258</locationY>
        <defaultConnector>
            <targetReference>Check_List_of_Sub_Scope_has_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Sub_Scope_record_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sub_Scope_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Sub_Scopes</targetReference>
            </connector>
            <label>Check Sub Scope record exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_List_of_Oli_has_records</name>
        <label>Check List of Oli has records</label>
        <locationX>730</locationX>
        <locationY>1466</locationY>
        <defaultConnector>
            <targetReference>Clone_Standard_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>List_of_Oli_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListofOLI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_OLIs</targetReference>
            </connector>
            <label>List of Oli Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_List_of_Opportunity_Contact_Role</name>
        <label>Check List of Opportunity Contact Role</label>
        <locationX>565</locationX>
        <locationY>4982</locationY>
        <defaultConnector>
            <targetReference>Check_Opp_Team_Memeber</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>List_of_Opportunity_Contact_Roles_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListofOpportunityContactRole</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inserting_Opportunity_Contact_Roles</targetReference>
            </connector>
            <label>List of Opportunity Contact Roles exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_List_of_Opportunity_Team_Member</name>
        <label>Check List of Opportunity Team Member</label>
        <locationX>565</locationX>
        <locationY>6182</locationY>
        <defaultConnector>
            <targetReference>Check_Terms_Condition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>List_of_Opportunity_Team_Member_has_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListofOpportunityTeamMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inserting_Opportunity_Team_Members</targetReference>
            </connector>
            <label>List of Opportunity Team Member has records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_List_of_Site_Covered</name>
        <label>Check List of Site Covered</label>
        <locationX>565</locationX>
        <locationY>3782</locationY>
        <defaultConnector>
            <targetReference>Check_Contact_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>List_of_Site_Covered_has_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListofSiteCovered</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inserting_Sites_Covered_Records</targetReference>
            </connector>
            <label>List of Site Covered has records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_List_of_Standard_Covered</name>
        <label>Check List of Standard Covered</label>
        <locationX>565</locationX>
        <locationY>2582</locationY>
        <defaultConnector>
            <targetReference>Check_Site_Covered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>List_of_Standard_Covered_has_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListofStandardCovered</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inserting_Standard_Covered</targetReference>
            </connector>
            <label>List of Standard Covered has Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_List_of_Sub_Scope_has_Records</name>
        <label>Check List of Sub Scope has Records</label>
        <locationX>884</locationX>
        <locationY>8858</locationY>
        <defaultConnector>
            <targetReference>Get_Renewed_Opportunity_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_List_of_Sub_Scope_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListofSubScopeRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inserting_Sub_Scope_Records</targetReference>
            </connector>
            <label>Check List of Sub Scope Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opp_Certificate</name>
        <label>Check Opp Certificate</label>
        <locationX>884</locationX>
        <locationY>7850</locationY>
        <defaultConnector>
            <targetReference>Get_Sub_Scope_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Opp_Certificate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Certificate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cloneOpportunityCertifiacte</targetReference>
            </connector>
            <label>Is Opp Certificate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opp_Team_Memeber</name>
        <label>Check Opp Team Memeber</label>
        <locationX>884</locationX>
        <locationY>5450</locationY>
        <defaultConnector>
            <targetReference>Check_Terms_Condition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Opp_Team_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Teams</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Team_Members</targetReference>
            </connector>
            <label>Is Opp Team Member</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opportunity_Contact_Roles_exists</name>
        <label>Check Opportunity Contact Roles exists</label>
        <locationX>719</locationX>
        <locationY>4466</locationY>
        <defaultConnector>
            <targetReference>Check_Opp_Team_Memeber</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Opportunity_Contact_Role_query_has_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Contact_Roles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Opportunity_Contact_Roles</targetReference>
            </connector>
            <label>Check Opportunity Contact Role query has records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opportunity_Team_Member_records_exists</name>
        <label>Check Opportunity Team Member records exists</label>
        <locationX>719</locationX>
        <locationY>5666</locationY>
        <defaultConnector>
            <targetReference>Check_Terms_Condition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Get_Opportunity_Team_Member_query_has_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Team_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Opportunity_Team_Members</targetReference>
            </connector>
            <label>Get Opportunity Team Member query has records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Products_Exists</name>
        <label>Check Products Exists</label>
        <locationX>730</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Check_List_of_Oli_has_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Product_Query</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Existing_Opportunity_Line_Items</targetReference>
            </connector>
            <label>Check Product Query</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_record_is_inserted</name>
        <label>Check record is inserted</label>
        <locationX>884</locationX>
        <locationY>9266</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Renewed_Opportunity_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success</targetReference>
            </connector>
            <label>Check Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Site_Covered</name>
        <label>Check Site Covered</label>
        <locationX>884</locationX>
        <locationY>3050</locationY>
        <defaultConnector>
            <targetReference>Check_Contact_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Site_Covered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Site_Covered</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Sites_Covered</targetReference>
            </connector>
            <label>Is Site Covered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Site_Covered_records_exists</name>
        <label>Check Site Covered records exists</label>
        <locationX>719</locationX>
        <locationY>3266</locationY>
        <defaultConnector>
            <targetReference>Check_Contact_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Site_Covered_Query_has_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sites_Covered</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Site_Covered</targetReference>
            </connector>
            <label>Check Site Covered Query has records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Standard_Covered_Exists</name>
        <label>Check Standard Covered Exists</label>
        <locationX>719</locationX>
        <locationY>2066</locationY>
        <defaultConnector>
            <targetReference>Check_Site_Covered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Standard_Covered_Records_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Standard_Covered_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Standard_Covered</targetReference>
            </connector>
            <label>Standard Covered Records Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Terms_Condition</name>
        <label>Check Terms &amp; Condition</label>
        <locationX>884</locationX>
        <locationY>6650</locationY>
        <defaultConnector>
            <targetReference>Check_Opp_Certificate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_TnC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Terms_Conditions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Terms_And_Condition</targetReference>
            </connector>
            <label>Check TnC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_TnC_Exists</name>
        <label>Check TnC Exists</label>
        <locationX>719</locationX>
        <locationY>6866</locationY>
        <defaultConnector>
            <targetReference>Check_Opp_Certificate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tnc_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Terms_And_Condition</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TnC_Loop</targetReference>
            </connector>
            <label>Tnc Exists ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Clone_Products</name>
        <label>Clone Products</label>
        <locationX>884</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Clone_Standard_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Products</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Products</targetReference>
            </connector>
            <label>Is Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Clone_Standard_Check</name>
        <label>Clone Standard Check</label>
        <locationX>884</locationX>
        <locationY>1850</locationY>
        <defaultConnector>
            <targetReference>Check_Site_Covered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Standard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Standard_Covered</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Standard_Covered_Records</targetReference>
            </connector>
            <label>Is Standard</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Active_Product</name>
        <label>Is Active Product</label>
        <locationX>886</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Existing_Opportunity_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inactive Product</defaultConnectorLabel>
        <rules>
            <name>Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Existing_Opportunity_Line_Items.PricebookEntry.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_OLI_Fields_to_Single_OLI</targetReference>
            </connector>
            <label>Is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_Check</name>
        <label>Stage Check</label>
        <locationX>467</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Create_Renew_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_Won_Closed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Opp_Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Stage_Closed_Won</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opp_Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Stage_Closed_Lost</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>Stage Won/Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tnc_Insert_Check</name>
        <label>Tnc Insert Check</label>
        <locationX>565</locationX>
        <locationY>7382</locationY>
        <defaultConnector>
            <targetReference>Check_Opp_Certificate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TnC_To_Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TermsAndConditionList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_TnC</targetReference>
            </connector>
            <label>TnC To Insert ?</label>
        </rules>
    </decisions>
    <description>Flow to create opportunity for single Renewal
Added new field for Affiliated
Excluded fields Payment Terms Approval, Project Start Date</description>
    <dynamicChoiceSets>
        <name>engagementTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Engagement_Type__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>lossReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Loss_Reason__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Opp_Stage_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Single_Renewal_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Single_Renewal_Flow</label>
    <loops>
        <name>Loop_on_Existing_Opportunity_Line_Items</name>
        <label>Loop on Existing Opportunity Line Items</label>
        <locationX>666</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Active_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_List_of_Oli_has_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Opportunity_Contact_Roles</name>
        <label>Loop on Opportunity Contact Roles</label>
        <locationX>565</locationX>
        <locationY>4574</locationY>
        <collectionReference>Get_Opportunity_Contact_Roles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigning_Single_Opportunity_Contact_Role</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_List_of_Opportunity_Contact_Role</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Opportunity_Team_Members</name>
        <label>Loop on Opportunity Team Members</label>
        <locationX>565</locationX>
        <locationY>5774</locationY>
        <collectionReference>Get_Opportunity_Team_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigning_Single_Opportunity_Team_Member</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_List_of_Opportunity_Team_Member</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Site_Covered</name>
        <label>Loop on Site Covered</label>
        <locationX>565</locationX>
        <locationY>3374</locationY>
        <collectionReference>Get_Sites_Covered</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigning_Single_Site_Covered</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_List_of_Site_Covered</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Standard_Covered</name>
        <label>Loop on Standard Covered</label>
        <locationX>565</locationX>
        <locationY>2174</locationY>
        <collectionReference>Get_Standard_Covered_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigning_Single_Standard_Covered</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_List_of_Standard_Covered</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Sub_Scopes</name>
        <label>Loop on Sub Scopes</label>
        <locationX>776</locationX>
        <locationY>8366</locationY>
        <collectionReference>Get_Sub_Scope_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigning_Single_Sub_Scope_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_List_of_Sub_Scope_has_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>TnC_Loop</name>
        <label>TnC Loop</label>
        <locationX>565</locationX>
        <locationY>6974</locationY>
        <collectionReference>Get_Terms_And_Condition</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Single_TnC_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Tnc_Insert_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_OLIs</name>
        <label>Create OLIs</label>
        <locationX>598</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>Clone_Standard_Check</targetReference>
        </connector>
        <inputReference>ListofOLI</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Renew_Opportunity</name>
        <label>Create Renew Opportunity</label>
        <locationX>884</locationX>
        <locationY>350</locationY>
        <assignRecordIdToReference>RenewOpportunity</assignRecordIdToReference>
        <connector>
            <targetReference>Clone_Products</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Affiliate_Name__c</field>
            <value>
                <elementReference>recordId.Affiliate_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Affiliate_Opportunity_flag__c</field>
            <value>
                <elementReference>recordId.Affiliate_Opportunity_flag__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Application_Status__c</field>
            <value>
                <elementReference>recordId.Application_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Contact__c</field>
            <value>
                <elementReference>recordId.Billing_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Close_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>recordId.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engagement_Type__c</field>
            <value>
                <elementReference>recordId.Engagement_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entity__c</field>
            <value>
                <elementReference>recordId.Entity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Include_Cover_Page__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Language__c</field>
            <value>
                <elementReference>recordId.Language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>recordId.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Details__c</field>
            <value>
                <elementReference>recordId.Lead_Source_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loss_Reason__c</field>
            <value>
                <elementReference>Loss_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Margin__c</field>
            <value>
                <elementReference>recordId.Margin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>recordId.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NextStep</field>
            <value>
                <elementReference>recordId.NextStep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>recordId.Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Term__c</field>
            <value>
                <elementReference>recordId.Payment_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Opportunity__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>recordId.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_List__c</field>
            <value>
                <elementReference>recordId.Program_List__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Programc__c</field>
            <value>
                <elementReference>recordId.Programc__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordId.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Payment_Term__c</field>
            <value>
                <elementReference>recordId.Requested_Payment_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCS_Probability__c</field>
            <value>
                <elementReference>recordId.SCS_Probability__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Show_Discount__c</field>
            <value>
                <elementReference>recordId.Show_Discount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Opp_Stage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Existing Business</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Traffic_Source__c</field>
            <value>
                <elementReference>recordId.Web_Traffic_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>fw2__Entity__c</field>
            <value>
                <elementReference>recordId.fw2__Entity__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_TnC</name>
        <label>Create TnC</label>
        <locationX>433</locationX>
        <locationY>7490</locationY>
        <connector>
            <targetReference>Check_Opp_Certificate</targetReference>
        </connector>
        <inputReference>TermsAndConditionList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Inserting_Opportunity_Contact_Roles</name>
        <label>Inserting Opportunity Contact Roles</label>
        <locationX>433</locationX>
        <locationY>5090</locationY>
        <connector>
            <targetReference>Check_Opp_Team_Memeber</targetReference>
        </connector>
        <inputReference>ListofOpportunityContactRole</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Inserting_Opportunity_Team_Members</name>
        <label>Inserting Opportunity Team Members</label>
        <locationX>433</locationX>
        <locationY>6290</locationY>
        <connector>
            <targetReference>Check_Terms_Condition</targetReference>
        </connector>
        <inputReference>ListofOpportunityTeamMember</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Inserting_Sites_Covered_Records</name>
        <label>Inserting Sites Covered Records</label>
        <locationX>433</locationX>
        <locationY>3890</locationY>
        <connector>
            <targetReference>Check_Contact_Role</targetReference>
        </connector>
        <inputReference>ListofSiteCovered</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Inserting_Standard_Covered</name>
        <label>Inserting Standard Covered</label>
        <locationX>433</locationX>
        <locationY>2690</locationY>
        <connector>
            <targetReference>Check_Site_Covered</targetReference>
        </connector>
        <inputReference>ListofStandardCovered</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Inserting_Sub_Scope_Records</name>
        <label>Inserting Sub Scope Records</label>
        <locationX>752</locationX>
        <locationY>8966</locationY>
        <connector>
            <targetReference>Get_Renewed_Opportunity_Record</targetReference>
        </connector>
        <inputReference>ListofSubScopeRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity_Contact_Roles</name>
        <label>Get Opportunity Contact Roles</label>
        <locationX>719</locationX>
        <locationY>4358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Opportunity_Contact_Roles_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Team_Members</name>
        <label>Get Opportunity Team Members</label>
        <locationX>719</locationX>
        <locationY>5558</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Opportunity_Team_Member_records_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Products</name>
        <label>Get Products</label>
        <locationX>730</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Products_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Renewed_Opportunity_Record</name>
        <label>Get Renewed Opportunity Record</label>
        <locationX>884</locationX>
        <locationY>9158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_record_is_inserted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RenewOpportunity</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sites_Covered</name>
        <label>Get Sites Covered</label>
        <locationX>719</locationX>
        <locationY>3158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Site_Covered_records_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Site_Covered__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Covered_Records</name>
        <label>Get Standard Covered Records</label>
        <locationX>719</locationX>
        <locationY>1958</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Standard_Covered_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Standard_Covered__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sub_Scope_Records</name>
        <label>Get Sub Scope Records</label>
        <locationX>884</locationX>
        <locationY>8150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Sub_Scope_record_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Programc__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Scope__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Terms_And_Condition</name>
        <label>Get Terms And Condition</label>
        <locationX>719</locationX>
        <locationY>6758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_TnC_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Terms_Condition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ClosedWonLost</name>
            <fieldText>&lt;p&gt;You aren&apos;t allowed to create renewal opportunity at stage Closed Won/Lost&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Single_Renewal_Opportunity</name>
        <label>Single Renewal Opportunity</label>
        <locationX>467</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Stage_Check</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>recordId.Name</objectFieldReference>
        </fields>
        <fields>
            <name>Close_Date</name>
            <dataType>Date</dataType>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;{!$Label.RenewalOpportunityErrorMessageForCloseDate}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression> {!Close_Date} &gt;= {!recordId.CloseDate}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>recordId.Program_List__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.AccountId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>recordId.Engagement_Type__c</objectFieldReference>
        </fields>
        <fields>
            <name>Opp_Stage</name>
            <choiceReferences>Stage_Enquiry</choiceReferences>
            <choiceReferences>Stage_Scoping</choiceReferences>
            <choiceReferences>Stage_Proposal</choiceReferences>
            <choiceReferences>Stage_Negotiation</choiceReferences>
            <choiceReferences>Stage_Closed_Won</choiceReferences>
            <choiceReferences>Stage_Closed_Lost</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Loss_Reason</name>
            <choiceReferences>lossReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Loss Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Opp_Stage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Stage_Closed_Lost</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Single_Renewal_Opportunity_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Single_Renewal_Opportunity_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Related_Text</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Select Related Records To Copy&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Products</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Products</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Standard_Covered</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Standard Covered</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Site_Covered</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Site Covered</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Contact_Role</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Contact Role</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Opportunity_Teams</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Opportunity Teams</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Terms_Conditions</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Terms &amp; Conditions</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Opportunity_Certificate</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Opportunity Certificate</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>752</locationX>
        <locationY>9374</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;/{!Get_Renewed_Opportunity_Record.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif; color: rgb(189, 126, 126); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Renewed_Opportunity_Record.Name}&lt;/a&gt;&lt;span style=&quot;font-family: sans-serif; color: rgb(21, 14, 14); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; color: rgb(21, 14, 14); font-size: 15px;&quot;&gt;has been created successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>341</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Single_Renewal_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ListOC</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Certificate__c</objectType>
    </variables>
    <variables>
        <name>ListofOLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>ListofOpportunityContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>ListofOpportunityTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>ListofScope</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Scope__c</objectType>
    </variables>
    <variables>
        <name>ListofSiteCovered</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Site_Covered__c</objectType>
    </variables>
    <variables>
        <name>ListofStandardCovered</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Standard_Covered__c</objectType>
    </variables>
    <variables>
        <name>ListofSubScopeRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Scope__c</objectType>
    </variables>
    <variables>
        <name>ListofTandC</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Terms_Condition__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>RenewOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleOC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Certificate__c</objectType>
    </variables>
    <variables>
        <name>SingleOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>SingleOpportunityContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>SingleOpportunityTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>SingleScopeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Scope__c</objectType>
    </variables>
    <variables>
        <name>SingleSiteCovered</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Site_Covered__c</objectType>
    </variables>
    <variables>
        <name>SingleStandardCovered</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Standard_Covered__c</objectType>
    </variables>
    <variables>
        <name>SingleSubScopeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Scope__c</objectType>
    </variables>
    <variables>
        <name>SingleTandC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Terms_Condition__c</objectType>
    </variables>
    <variables>
        <name>TermsAndConditionList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Terms_Condition__c</objectType>
    </variables>
</Flow>
