force-app/main/default/flows/Skill_Registration_Map_correct_Skill_Catalog.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_List_Of_Learning_Path</name>
        <label>Assign List Of Learning Path</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>ListofLearningPath</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SkillLearningPaths</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterate_skill_catalog</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Skill_Learning_Path</name>
        <label>assign Skill Learning Path</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>SkillLearningPaths.SkillCatalogue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterate_skill_catalog.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SkillLearningPaths.SkillRegistration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SkillLearningPaths.LearningTitle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterate_skill_catalog.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SkillLearningPaths.SNO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterate_skill_catalog.Sno__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SkillLearningPaths.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_List_Of_Learning_Path</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Skill Registration : Map correct Skill catalog {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Skill Registration - Map correct Skill Catalog to learning Path</label>
    <loops>
        <name>iterate_skill_catalog</name>
        <label>iterate skill catalog</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Related_Skill_Catalog</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_Skill_Learning_Path</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_learning_path</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_learning_path</name>
        <label>create learning path</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <inputReference>ListofLearningPath</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Related_Skill_Catalog</name>
        <label>Get Related Skill Catalog</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iterate_skill_catalog</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Program__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Skill__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Skill__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Skills_Catalogue__c</object>
        <sortField>Sno__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Skill_Catalog</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Skill__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Program__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Skill_Registration__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ListofLearningPath</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Skill_Learning_Path__c</objectType>
    </variables>
    <variables>
        <name>SkillLearningPaths</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Skill_Learning_Path__c</objectType>
    </variables>
</Flow>
