force-app/main/default/flows/Skill_Registration_Create_Update_attribute_assingment_record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Is_Attribute_Assignment_Exist</name>
        <label>Is Attribute Assignment Exist ?</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Attribute_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Attribute_Assignment</targetReference>
            </connector>
            <label>YES</label>
        </rules>
        <rules>
            <name>NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Attribute_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Attribute_Assignment</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <description>Made changes to every time
change to formula criteria
Rename flow</description>
    <environments>Default</environments>
    <interviewLabel>Skill Registration - Create/Update attribute assingment record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Skill Registration - Create or update attribute assignment record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Attribute_Assignment</name>
        <label>Create Attribute Assignment</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>AuditorDayRate__c</field>
            <value>
                <elementReference>$Record.AuditorDailyRate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AuditorTravelExpenses__c</field>
            <value>
                <elementReference>$Record.AuditorTravelCost__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DailyMealsRate__c</field>
            <value>
                <elementReference>$Record.Meals__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiry_Date__c</field>
            <value>
                <elementReference>$Record.ExpiryDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program__c</field>
            <value>
                <elementReference>$Record.Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RenewalDueDate__c</field>
            <value>
                <elementReference>$Record.RenewalDueDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Record.ActiveDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WitnessAuditDate__c</field>
            <value>
                <elementReference>$Record.WitnessAuditDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WitnessAuditNotes__c</field>
            <value>
                <elementReference>$Record.WitnessAuditNotes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WitnessRequired__c</field>
            <value>
                <elementReference>$Record.WitnessRequired__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inspire1__Contact__c</field>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inspire1__Notes__c</field>
            <value>
                <elementReference>$Record.Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inspire1__Resource_Attribute__c</field>
            <value>
                <elementReference>$Record.Skill__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inspire1__User__c</field>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </inputAssignments>
        <object>inspire1__Attribute_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Attribute_Assignment</name>
        <label>Get Attribute Assignment</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Attribute_Assignment_Exist</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND ( ( 3 AND 4) OR ( 5 AND 6 ))</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Program__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>inspire1__Resource_Attribute__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Skill__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>inspire1__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>inspire1__User__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>inspire1__User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>inspire1__Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>inspire1__Attribute_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Attribute_Assignment</name>
        <label>Update Attribute Assignment</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Attribute_Assignment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AuditorDayRate__c</field>
            <value>
                <elementReference>$Record.AuditorDailyRate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AuditorTravelExpenses__c</field>
            <value>
                <elementReference>$Record.AuditorTravelCost__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DailyMealsRate__c</field>
            <value>
                <elementReference>$Record.Meals__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiry_Date__c</field>
            <value>
                <elementReference>$Record.ExpiryDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program__c</field>
            <value>
                <elementReference>$Record.Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RenewalDueDate__c</field>
            <value>
                <elementReference>$Record.RenewalDueDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Record.ActiveDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WitnessAuditDate__c</field>
            <value>
                <elementReference>$Record.WitnessAuditDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WitnessAuditNotes__c</field>
            <value>
                <elementReference>$Record.WitnessAuditNotes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WitnessRequired__c</field>
            <value>
                <elementReference>$Record.WitnessRequired__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inspire1__Contact__c</field>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inspire1__Notes__c</field>
            <value>
                <elementReference>$Record.Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inspire1__Resource_Attribute__c</field>
            <value>
                <elementReference>$Record.Skill__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inspire1__User__c</field>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </inputAssignments>
        <object>inspire1__Attribute_Assignment__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Attribute_Assignment</targetReference>
        </connector>
        <filterFormula>AND( 
 ISPICKVAL({!$Record.Status__c}, &quot;Completed&quot;),
 ISPICKVAL({!$Record.Assign_skill_to_user__c}, &quot;Yes&quot;), 
 NOT(ISBLANK({!$Record.Skill__c})), 
 OR( NOT(ISBLANK( {!$Record.User__c})), NOT(ISBLANK( {!$Record.Contact__c} ) )),
 OR( ISNEW(), ISCHANGED( {!$Record.Assign_skill_to_user__c}) )
)</filterFormula>
        <object>Skill_Registration__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>userOrContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
