force-app/main/default/flows/Test_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Filtered_Record</name>
        <label>Filtered Record</label>
        <locationX>402</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>filteredPCR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Filter_PCR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Filter_PCR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdatePCR</name>
        <label>UpdatePCR</label>
        <locationX>314</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>filteredPCR.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_original.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatePCR1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_the_Filtered</name>
        <label>Check for the Filtered</label>
        <locationX>534</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Get_Filter_PCR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Filter_Check</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Filter_PCR.Program_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Billing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_original.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bill To Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Filter_PCR.Program_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_original.Role</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filtered_Record</targetReference>
            </connector>
            <label>Filter Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>TEst</name>
        <label>TEst</label>
        <locationX>314</locationX>
        <locationY>950</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Notfound</name>
            <conditionLogic>1 AND  (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>filteredPCR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_original.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bill To Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_original.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primary</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_original.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secondary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_PCR</targetReference>
            </connector>
            <label>Notfound</label>
        </rules>
        <rules>
            <name>TEsting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>filteredPCR.Contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_original.ContactId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdatePCR</targetReference>
            </connector>
            <label>TEsting</label>
        </rules>
    </decisions>
    <description>Flow for testing DO NOT DEPLOY</description>
    <environments>Default</environments>
    <formulas>
        <name>pcrCheck</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS(TEXT({!Get_original.Role}), {!$Label.PCR_Roles})</expression>
    </formulas>
    <interviewLabel>Test Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test Flow</label>
    <loops>
        <name>Get_Filter_PCR</name>
        <label>Get Filter PCR</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <collectionReference>GET_PCR</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_the_Filtered</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>TEst</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_PCR</name>
        <label>Create PCR</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Get_original.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Role__c</field>
            <value>
                <elementReference>Get_original.Role</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program__c</field>
            <value>
                <elementReference>Get_Oppty.Programc__c</elementReference>
            </value>
        </inputAssignments>
        <object>Program_Contact_Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Oppty</name>
        <label>Get Oppty</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_PCR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_original.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_original</name>
        <label>Get original</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Oppty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_PCR</name>
        <label>GET PCR</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Filter_PCR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Oppty.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Oppty.Programc__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Program_Contact_Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdatePCR1</name>
        <label>UpdatePCR1</label>
        <locationX>314</locationX>
        <locationY>1166</locationY>
        <inputReference>filteredPCR</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_original</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Contact_Role__c</objectType>
    </variables>
    <variables>
        <name>filteredPCR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Contact_Role__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
