force-app/main/default/flows/Update_Billing_Contact_from_PCR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>add_billing_Contact_to_OCR_list</name>
        <label>add billing Contact to OCR list</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>NewOCRList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleOCRRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Empty_Single_OCR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_OCR_to_List</name>
        <label>Add OCR to List</label>
        <locationX>666</locationX>
        <locationY>1787</locationY>
        <assignmentItems>
            <assignToReference>NewOCRList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleOCRRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PCRList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Billing_Contact</name>
        <label>Assign Billing Contact</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>$Record.Billing_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Biiling_PCR.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_OCR_from_Billing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OCR_from_Primary</name>
        <label>Assign OCR from Primary</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>SingleOCRRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Primary_PCR.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOCRRecord.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOCRRecord.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Primary_PCR.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOCRRecord.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bill To Contact</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_billing_Contact_to_OCR_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PCR_values_to_OCR</name>
        <label>Assign PCR values to OCR</label>
        <locationX>666</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>SingleOCRRecord.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOCRRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PCRList.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_OCR_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Primary_to_Opp_Billing</name>
        <label>Assign Primary to Opp Billing</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>$Record.Billing_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Primary_PCR.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_OCR_from_Primary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>create_OCR_from_Billing</name>
        <label>create OCR from Billing</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>SingleOCRRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Biiling_PCR.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOCRRecord.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOCRRecord.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOCRRecord.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bill To Contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Biiling_PCR.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_billing_Contact_to_OCR_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Empty_Single_OCR</name>
        <label>Empty Single OCR</label>
        <locationX>314</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>SingleOCRRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOCRRecord.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOCRRecord.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOCRRecord.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Opp</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Bill_to_Contact</name>
        <label>Check Bill to Contact</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_All_PCR_other_than_Billing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not blank</defaultConnectorLabel>
        <rules>
            <name>Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Biiling_PCR</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Found</name>
        <label>Record Found</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_All_PCR_other_than_Billing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Billing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Biiling_PCR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Billing_Contact</targetReference>
            </connector>
            <label>Billing</label>
        </rules>
        <rules>
            <name>Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Primary_PCR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Primary_to_Opp_Billing</targetReference>
            </connector>
            <label>Primary</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Billing Contact from PCR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Billing Contact from PCR</label>
    <loops>
        <name>PCRList</name>
        <label>PCRList</label>
        <locationX>578</locationX>
        <locationY>1571</locationY>
        <collectionReference>FetchedPCRList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_PCR_values_to_OCR</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_OCR</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_OCR</name>
        <label>Create OCR</label>
        <locationX>578</locationX>
        <locationY>1979</locationY>
        <inputReference>NewOCRList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_PCR_other_than_Billing</name>
        <label>Get All PCR other than Billing</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PCRList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Programc__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program_Role__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </filters>
        <object>Program_Contact_Role__c</object>
        <outputReference>FetchedPCRList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_All_PCR_other_than_selected</name>
        <label>Get All PCR other than selected</label>
        <locationX>314</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PCRList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Programc__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program_Role__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>SelectedContactId</elementReference>
            </value>
        </filters>
        <object>Program_Contact_Role__c</object>
        <outputReference>FetchedPCRList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Biiling_PCR</name>
        <label>Get Biiling PCR</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Primary_PCR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Programc__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program_Contact_Role__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Primary_PCR</name>
        <label>get Primary PCR</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Programc__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program_Contact_Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Opp</name>
        <label>update Opp</label>
        <locationX>314</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Get_All_PCR_other_than_selected</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Bill_to_Contact</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>FetchedPCRList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Contact_Role__c</objectType>
    </variables>
    <variables>
        <name>NewOCRList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>SelectedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0038a11</stringValue>
        </value>
    </variables>
    <variables>
        <name>SingleOCRRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
</Flow>
