force-app/main/default/flows/Update_Actual_cost_on_Project_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Amount</name>
        <label>Add_Amount</label>
        <locationX>845</locationX>
        <locationY>362</locationY>
        <assignmentItems>
            <assignToReference>Get_Project_Task.inspire1__Actual_Cost__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Project_Task.Toggle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChangeToggle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Project_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subtract_Old_Amount</name>
        <label>Subtract_Old_Amount</label>
        <locationX>927</locationX>
        <locationY>83</locationY>
        <assignmentItems>
            <assignToReference>Get_Project_Task.inspire1__Actual_Cost__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record__Prior.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Amount</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_old_Amount_of_Expense</name>
        <label>check old Amount of Expense</label>
        <locationX>721</locationX>
        <locationY>155</locationY>
        <defaultConnectorLabel>Non Zero</defaultConnectorLabel>
        <rules>
            <name>Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Amount</targetReference>
            </connector>
            <label>Zero</label>
        </rules>
        <rules>
            <name>Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subtract_Old_Amount</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ChangeToggle</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Get_Project_Task.Toggle__c}= TRUE, FALSE,TRUE)</expression>
    </formulas>
    <interviewLabel>Update Actual cost on Project Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Actual cost on Project Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Project_Task</name>
        <label>Get Project Task</label>
        <locationX>558</locationX>
        <locationY>87</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_old_Amount_of_Expense</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project_Task__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>inspire1__Project_Tasks__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>inspire1__Actual_Cost__c</queriedFields>
        <queriedFields>Toggle__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project_Task</name>
        <label>Update Project Task</label>
        <locationX>617</locationX>
        <locationY>323</locationY>
        <inputReference>Get_Project_Task</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Project_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Amount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Project_Task__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Expense__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DifferenceinAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
