force-app/main/default/flows/Update_Total_Sales_Price_field_on_Opportunity_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Flow_Is_Active</name>
        <label>Flow Is Active</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Trigger_Setting</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Trigger_Setting.Is_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateTotalSalaesPriceonOppProduct_0</targetReference>
            </connector>
            <label>Is Active</label>
        </rules>
    </decisions>
    <description>Removed Bypass Permission</description>
    <environments>Default</environments>
    <formulas>
        <name>Bypass_Permission</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!$Permission.Bypass_Permission})</expression>
    </formulas>
    <formulas>
        <description>Total Sales Price</description>
        <name>TotalSalesCalculated</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.TotalAdjustedPrice__c} - IF(AND(ISNULL({!$Record.Discount_Amount__c}), NOT(ISNULL({!$Record.Discount}))), ({!$Record.TotalAdjustedPrice__c}*{!$Record.Discount})/100, IF( AND(NOT(ISNULL({!$Record.Discount_Amount__c})), ISNULL({!$Record.Discount})),{!$Record.Discount_Amount__c}, 0))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Total Sales Price field on Opportunity Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Total Sales Price field on Opportunity Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Trigger_Setting</name>
        <label>Get Trigger Setting</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Flow_Is_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opp_Product_Update_Total_Sales_Price_f</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Trigger_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateTotalSalaesPriceonOppProduct_0</name>
        <label>updateTotalSalaesPriceonOppProduct</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TotalAdjustedPrice__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Sales_Price__c</field>
            <value>
                <elementReference>TotalSalesCalculated</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Trigger_Setting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TotalAdjustedPrice__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1</triggerOrder>
    <variables>
        <name>TotalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
