force-app/main/default/flows/Update_OLI_Quantity_On_Invoice_Sent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Invoice_Line_Assignment</name>
        <label>Invoice Line Assignment</label>
        <locationX>622</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>tempInvoiceLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Invoice_Line</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_for_Current_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OLI_To_Update_List</name>
        <label>OLI To Update List</label>
        <locationX>710</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>oliToUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OLI_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Opportunity_Line_List</name>
        <label>Opportunity Line List</label>
        <locationX>270</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>oliIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Invoice_Line_Loop.fw2__Opportunity_Line_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Invoice_Line_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_OLI_Quantity</name>
        <label>Update OLI Quantity</label>
        <locationX>842</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>OLI_Loop.Invoice_Quantity__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_Loop.fw1__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quantity_Check</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_for_Current_Item</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter for Current Item</label>
        <locationX>622</locationX>
        <locationY>1151</locationY>
        <assignNextValueToReference>currentItem_Filter_for_Current_Item_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>tempInvoiceLine</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_for_Current_Item_0.fw2__Opportunity_Line_ID__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>OLI_Loop.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_Loop</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_If_Item_Available</name>
        <label>Check If Item Available</label>
        <locationX>182</locationX>
        <locationY>2039</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oliToUpdateList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_OLI</targetReference>
            </connector>
            <label>Is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check If Current OLI Quantity is greater than equal to Invoice Quantity
Invoice Quantity is updated in last step.</description>
        <name>Quantity_Check</name>
        <label>Quantity Check</label>
        <locationX>842</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>Filter_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Less</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OLI_Loop.Invoice_Quantity__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>OLI_Loop.Quantity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OLI_To_Update_List</targetReference>
            </connector>
            <label>Is Less</label>
        </rules>
    </decisions>
    <description>Flow to update Invoice Quantity on with the Quantity on Invoice Line Item - When Invoice status is changed to Sent
JIRA - SF20FA-275</description>
    <environments>Default</environments>
    <interviewLabel>Update OLI Quantity On Invoice Sent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update OLI Quantity On Invoice Sent</label>
    <loops>
        <name>Filter_Loop</name>
        <label>Filter Loop</label>
        <locationX>622</locationX>
        <locationY>1271</locationY>
        <collectionReference>Filter_for_Current_Item</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_OLI_Quantity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>OLI_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Invoice_Line_Loop</name>
        <label>Invoice Line Loop</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Invoice_Line</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Opportunity_Line_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Related_OLI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>OLI_Loop</name>
        <label>OLI Loop</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <collectionReference>Get_Related_OLI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Invoice_Line_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_If_Item_Available</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get related Invoices</description>
        <name>Get_Invoice_Line</name>
        <label>Get Invoice Line</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoice_Line_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>fw1__Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>fw1__Invoice_Line__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>fw2__Opportunity_Line_ID__c</queriedFields>
        <queriedFields>fw2__Opportunity_Product__c</queriedFields>
        <queriedFields>fw1__Quantity__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_OLI</name>
        <label>Get Related OLI</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OLI_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>oliIdList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Invoice_Quantity__c</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_OLI</name>
        <label>Update OLI</label>
        <locationX>50</locationX>
        <locationY>2159</locationY>
        <inputReference>oliToUpdateList</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Invoice_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>fw1__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </filters>
        <filters>
            <field>fw1__Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>fw1__Invoice__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_for_Current_Item_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>fw1__Invoice_Line__c</objectType>
    </variables>
    <variables>
        <name>filteredInvoiceLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>fw1__Invoice_Line__c</objectType>
    </variables>
    <variables>
        <name>oliIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oliToUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>tempInvoiceLine</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>fw1__Invoice_Line__c</objectType>
    </variables>
</Flow>
