force-app/main/default/flows/WO_Date_Update_Assuresign_Envelope.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_create_or_update</name>
        <label>Check Created or Completed</label>
        <locationX>664</locationX>
        <locationY>536</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Loop__Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Envelope created</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_WO_Sent_Date</targetReference>
            </connector>
            <label>Created</label>
        </rules>
        <rules>
            <name>Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loop__Details__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Envelope completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_WO_Signed_Date</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opp_ID</name>
        <label>Check Opportunity</label>
        <locationX>670</locationX>
        <locationY>359</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Inserted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loop__RelatedEnvelope__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Loop__RelatedEnvelope__r.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_create_or_update</targetReference>
            </connector>
            <label>Inserted</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>WO Update Assuresign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WO Date Update Assuresign Envelope</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Opportunity_WO_Sent_Date</name>
        <label>Update Opportunity WO Sent Date</label>
        <locationX>505</locationX>
        <locationY>671</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Loop__RelatedEnvelope__r.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WO_Sent_Date_Time__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_WO_Signed_Date</name>
        <label>Update Opportunity WO Signed Date</label>
        <locationX>793</locationX>
        <locationY>669</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Loop__RelatedEnvelope__r.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WO_Signed_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Opp_ID</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Loop__AssureSign_ID__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Loop__EnvelopeHistory__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
